[2013-11-10 03:48] jakebolewski opened #1 "convert functions for CL_objects"
instead of directly passing the pointer, create convert functions which ccall uses to do automatic conversion.

[2013-11-11 18:50] jakebolewski opened #2 "Scalar global work size/ local work size variables in cl.call"
local work size cannot be declared a scalar value like global work size.

[2013-11-12 04:32] jakebolewski opened #3 "Minimum device alloc size"
Check that a minimum of 4 bytes is allocated for device buffers.  See

https://github.com/inducer/compyte/blob/master/ndarray/pygpu_language_opencl.cpp#L109-L129

[2013-11-13 18:00] jakebolewski opened #7 "add methods to get at OpenCL (major, minor) version"

[2013-11-13 23:38] #7 closed, assigned to nobody

[2013-11-14 15:15] lcw opened #8 "Build on OS X 10.7.5"
Hi,

Thanks for adding the changes to support OpenCL 1.1.  It has improved the number of passing tests.

Please find below the output from ./run_tests on the OS X 10.7.5 (OpenCL 1.1) from version 809d4383e54243581654ffb564ab4d9a145abab9.  I can look at the issues more as I get time.

[code]

[2013-11-14 15:26] lcw opened #9 "`performance.jl` on [Intel(R) Core(TM)2 Duo CPU L9600 @ 2.13GHz] [Mac OS X 10.7.5]"
The `performance.jl` example is getting an invalid work group size error message on an Intel(R) Core(TM)2 Duo CPU L9600 @ 2.13GHz under Mac OS X 10.7.5:

[code]

[2013-11-14 20:25] #9 closed, assigned to nobody

[2013-11-17 05:51] diegozea opened #12 "Stack overflow on show/print of program"
I found this error when I run the README's example on Ubuntu 13.10 with a AMD GPU. The only error is for show the program, but the example is successful :)

[code]

[2013-11-17 06:23] #12 closed, assigned to nobody

[2013-11-17 06:35] diegozea opened #14 "Error in Buffer for Julia Set example"
I get this ERROR with a AMD Radeon™ HD 7870 [ http://www.amd.com/us/products/desktop/graphics/7000/7870/Pages/radeon-7870.aspx#3 ] on Ubuntu 13.10

[code]

[2013-11-17 07:57] #8 closed, assigned to nobody

[2013-11-24 00:52] parasa opened #15 "Compilation Error"
Hi,

I'm using Intel OpenCL drivers on win7 machine. When i try to run the example program given, seeing the following error:

"error compiling create_some_context: error compiling platforms: could not load module libOpenCL: The specified module could not be found."

Pls let me know if you need additional information.

Thanks.

[2013-11-25 16:13] #15 closed, assigned to nobody

[2013-11-26 03:54] jakebolewski opened #16 "OpenCL 1.2 Functions"
Throw an error when trying to access v1.2 functions with platforms that don't support them.

[2014-03-03 19:52] vchuravy opened #17 "Data transfer from OpenCl and vice versa"
As far as I now Julia uses the Fortran convention of storing Arrays in a column major format. OpenCL on the other hand comes from a C tradition with a row major format. Altough OpenCL does not support multidimensional arrays.

I normally have OpenCl code like this

[code]

My question/issue is the following:

When I copy an array from Julia to a Buffer the buffer itself is still in column-major fo

[2014-03-04 05:20] vchuravy opened #18 "Support for OpenCL floatN and doubleN types"
It would be nice if OpenCL.jl would be able to support the halfN, floatN and doubleN types that OpenCL provides on Julias side.

Currently it is possible to initialize a double4 buffer with

[code]

But working with that data on Julias side is a hassle.

[2014-03-05 23:41] ghost opened #19 "Buffer Usage"
Hi Jake, all

I wrote below code to check allocation/deallocation of the buffer.
If the test is called twice on julia repl, second run fails.

Any idea?

Gist link : https://gist.github.com/econsoft/1cd4800510889063e10b

[2014-03-07 23:28] #19 closed, assigned to nobody

[2014-03-14 20:03] vchuravy opened #21 "Memory leak"
Hey,

I am encountering a memory leak using OpenCL.jl

Execute the following in the REPL

[code]

Monitoring my process with htop I can see that Julia is now using ~400mb permanently, running the loop a second time results in an increase in memory of ~300mb.
This 300mb step is consistent over consecutive repetitions.

This happens to me  both with the OpenCL implementation by Intel (CPU) and by Nv

[2014-03-17 00:46] vchuravy opened #23 "Test fail on Intel CPU"
Running the tests on 76ae49b results on the following output on the Intel SDK OpenCL implementation.

[code]

[2014-03-17 15:32] vchuravy opened #24 "Program and Kernel are leaking memory"
This issue is slightly different from #21 and to minimize the confusion I decided to open up a second issue.

The following code leaks memory:
Note: The Buffer creation is only there to make it abundantly clear when you look at the memory output.

[code]

Substituting leaky with one of the following fixes the memory leak

[code]

or

[code]

Adding a Kernel into the mix creates the leak again:

[c

[2014-03-18 18:50] #21 closed, assigned to nobody

[2014-03-18 18:50] #14 closed, assigned to nobody

[2014-03-19 20:49] #23 closed, assigned to nobody

[2014-03-19 21:09] vchuravy opened #25 "Event based OpenCL programming"
So I am fairly new to OpenCL, but as I kept on reading best practices it seemed to me that one should definitely use an event based programming flow to optimize the usage of the compute device.

From what I can see julias RemoteRef also encapsulated an event based programming style. (At least I got the impression)

Currently in OpenCL.jl call is a blocking operation. I would propose that we use Re

[2014-05-12 07:26] et4te opened #26 "Program build_log is broken"
Lines 122 and 129 in program.jl are broken. The calls to clGetProgramBuildInfo should be qualified by 'api' instead of 'cl'.

[2014-05-12 17:13] #26 closed, assigned to nobody

[2014-05-13 12:02] jakebolewski opened #27 "Show build log on kernel build failure"
Show the platform build log on kernel build failure.  The error messages right now are kind of sparse.

[2014-05-22 20:21] nowozin opened #28 "Image support"
Thanks for the great OpenCL package, for me it works out of the box on Windows 8.1 (using CUDA) and Ubuntu 14.04 (using Intel OpenCL and the AMD APP SDK).

I have used PyOpenCL before for GPU image processing and a typical code to create a RGBA image buffer on the device using PyOpenCL is this

[code]

I have not had success in trying to load an image onto the device using OpenCL.jl.  I can create

[2014-06-05 11:24] vchuravy opened #29 "Compiling Julia to OpenCL SPIR instead of OpenCL C"
Instead of targeting OpenCL C as an intermediate language I would be interested in trying to directly target  SPIR. SPIR is proposed as a common IR for OpenCL and is currently supported by AMD and Intel. NVIDIA support is still outstanding because it needs atleast OpenCL 1.2, but it seems there is movement on that front. (CUDA 6 has stubs for OCL12 functions)

An example of how SPIR looks like can

[2014-06-08 13:29] jakebolewski opened #35 "Integrate OpenCL <-> Julia Event systems"
We should have better integration with Julia's underlying event / task system.

[2014-06-09 16:40] jakebolewski opened #37 "User supplied callbacks are currently broken"
As callbacks can be executed async and there is no guarantee of thread safety by the runtime, we need to wrap all user callbacks according to the guidelines in the manual.

See: http://docs.julialang.org/en/latest/manual/calling-c-and-fortran-code/#thread-safety

[2014-06-10 19:01] #37 closed, assigned to nobody

[2014-08-12 10:23] vchuravy opened #40 "Splitting up API"
To address one of my concerns in #39 I would propose to only load the OpenCL API depending on the maximum version available on the machine.

So I would change the api loading in the following way.
- bootstrap.jl -> Minimum bases for finding all platforms and checking the supported version of the   platform.
- api/opencl10.jl contains all undepreciated api calls from version 1.0
- api/opencl10-depr

[2014-08-12 15:35] jakebolewski opened #41 "Rename inner `api` module to `Api`"
Modules by convention always start with an uppercase in Julia, so this has always felt out of place.  This would be a breaking change so maybe it is not worth it.

[2014-08-17 04:59] bvanevery opened #43 "test OpenCL.kernel out of host memory"
I have Linux Mint 17 with a NVIDIA GeForce 8600M GT.  Under Windows, GPU Caps shows that an OpenCL 1.1 interface available, although 1.0 is reported as the actual HW capability.  On Linux I get similar reportage from a SourceForge version of clinfo, even though a packaged version just barfs.  I've been having trouble finding consistently working OpenCL demos / tests on either platform, so I'm not

[2014-08-19 09:00] vchuravy opened #45 "Event callbacks not working on julia version 0.2"
#44  revealed that we have a testing problem on julia v0.2.1. Since event callbacks used to work differently. Options are ;
- Ignore, that code path is currently rarely used and we didn't hear about any problems
- Fix
- Bump OpenCL to depend on 0.3-

@jakebolewski

[2014-08-19 09:05] #17 closed, assigned to nobody

[2014-08-19 09:07] #25 closed, assigned to nobody

[2014-08-19 09:09] vchuravy opened #46 "Add tests for leaking OpenCL object"
We should test if we are leaking OpenCL objects.

[2014-08-19 09:10] #24 closed, assigned to nobody

[2014-08-19 13:23] #45 closed, assigned to vchuravy

[2014-08-20 07:20] #43 closed, assigned to nobody

[2014-08-25 16:46] vchuravy opened #50 "Coveralls is broken"
Since I worked around the issue in  #43 Coveralls has not been working.
- [x] revert 1ff5a8aa9b068a8f70d3f5ac2aa97fcba7826013

[2014-08-25 17:09] vchuravy opened #51 "Support of Julia v0.2"
Since Travis is now only testing `v0.3` and `v0.4-dev` we should probably branch of a stable release for `v0.2` and make `v0.3` a requirment. I would do this before we introduce any new changes.

@jakebolewski Any thoughts?

[2014-08-25 17:45] #51 closed, assigned to nobody

[2014-09-26 20:46] vchuravy opened #56 "Add support for OpenCL 2.0"
AMD released an OpenCL 2.0 driver for Windows and Linux http://support.amd.com/en-us/kb-articles/Pages/OpenCL2-Driver.aspx so we should add OpenCL 2.0 support.

Todo:
- [ ] https://gist.github.com/vchuravy/4923e75797fdba88a9b7#file-12-vs-20-diff-L58-L61

[2014-12-15 22:15] #56 closed, assigned to vchuravy

[2014-12-18 20:54] #50 closed, assigned to vchuravy

[2015-01-14 11:09] SimonDanisch opened #63 "Cssize_t and Julia 0.4"
Hi,
I just recently noted, that the conversion in types.jl:143 is wrong, as Julia now throws an error, if something overflows.
`cl_context_properties(x) = convert(CL_context_properties, x)`
Should be rather something like this:
`cl_context_properties(x::Ptr{Void}) = reinterpret(CL_context_properties, x)` or in 0.4
`cl_context_properties(x::Integer) = uint64(x) % CL_context_properties`
As intptr_t

[2015-01-14 15:44] jakebolewski commented on #63
Do you have a use case where C overflow behavior is actually needed?

[2015-01-14 16:15] SimonDanisch commented on #63
Yes! To create a OpenGL interop  context, you need the Ptr{Void} handle returned by `wglGetCurrentDC`, which is sometimes pretty close to `typemax(uint64)`. As it needs to be converted to CL_context_properties( -> int64) it'll throw an  `InexactError()`.
This can lead to very subtle, non reproducible bugs. I had the pleasure to debug this without a good stack trace, throwing an error just every ~t

[2015-01-14 20:33] jakebolewski commented on #63
Thanks @SimonDanisch for providing a bit of context.  I fixed the last issue. The method should have been defined for the object, not the typealias.

You are right that many C-libraries will rely on the overflow behavior here.  I think that this is more of a Julia issue than it is a OpenCL issue.  Can you file a Julia issue for the overflow checking of the C typealiases.

Thanks for being brave an

[2015-01-15 00:10] SimonDanisch commented on #63
Oh you're right... This should actually be handled by Julia. But I wonder, how one could handle this in a generic way, since Cssize_t is just a type alias...

[2015-01-15 00:23] jakebolewski commented on #63
Well the intent would be that this would not be a typealias but a different
bitstype with its own semantics.  It probably won't go over well so it
would be nice if you could give a nice description of the problem you are
having (that OpenGL assumes this behavior). You would be the best person to
describe the problem as I don't think I could articulate the OpenGL
behavior as well as you.

Overall,

[2015-01-15 00:42] SimonDanisch commented on #63
I see, well then I'll open an issue tomorrow!
I'm trying to build some infrastructure, which is at most ready, when 0.4 is out. So I better run into these  bugs early, instead of letting them accumulate. Also I need some features from 0.4 ;)
The project is very, very early in the process, but it might also be interesting for you: https://github.com/SimonDanisch/UberSignals.jl
I plan to accumulate

[2015-01-15 14:08] jakebolewski commented on #63
Cool!  Looking forward to your progress.

[2015-01-16 15:33] jakebolewski commented on #63
@SimonDanisch can you confirm that this fixes your original problem?

[2015-01-16 17:42] SimonDanisch commented on #63
Seems to work! =)

[2015-01-16 17:42] #63 closed

[2015-01-16 18:32] jakebolewski commented on #63
Thanks for tracking down the bug!

[2015-02-03 07:15] ssouyris opened #64 "Bug in examples\hands_on_opencl\ex08\matmul.jl"
Hi, thanks for the package!

I think that the file examples\hands_on_opencl\ex08\matmul.jl has the following bug:

It says:

[code]

it should be:

[code]

Also a suggestion. In the examples, the matrices are stored in row-major order. As you do in python numpy. So that `A[i,k] = h_A [ (i-1)*Ndim + k]`  (if the first index is 1)

But in julia, the arrays are sorted in column-major order. So `A[i,k

[2015-02-05 00:39] jakebolewski commented on #64
@ssouyris thanks for the report!   I'll try to push a fix soon, PR's always welcome as well :-)

[2015-02-05 19:50] ssouyris commented on #64
Sure, thanks! I'd glad to contribute. I'll PR to fix the detail in ex08\matmul.jl, and add a new more general matmul.jl adapted to the julia array column-major order.

[2015-06-29 20:44] nowozin commented on #28
Hi,

thanks for all your work so far.  Since some time has passed, is an Image type still on the radar?
(This is most useful for fast hardware-assisted linear interpolation as doing so manually without using the GPU texture units is significantly slower.)

Thanks for considering,
Sebastian

[2015-07-18 18:14] vchuravy commented on #28
@nowozin I have not been doing a lot of work in OpenCL recently (and I believe Jake is in a similar situation), so development of OpenCL.jl has been stagnant. I am planning to make sure that it works under Julia v0.4 (as soon as development for that has settled down), but otherwise I have no plans on working on big features in the foreseeable future.

If you are willing you are willing to offer he

[2015-10-03 19:46] dfdx opened #72 "Does this package support Float64?"
I'm trying to run example from README with `float` replaced by `double` in kernel (and `Float32` replaced by `Floa64` accordingly). On line:

    p = cl.Program(ctx, source=sum_kernel) |> cl.build!

I'm getting an error:

[code]
As far as I understand, support for doubles should be enabled separately in OpenCL, and I can see examples how to do it in C. But is it possible / needed to do it in OpenC

[2015-10-03 21:19] dfdx commented on #72
Ok, my bad, I didn't understand kernel definition from the example _is_ actually a C program, so it's enough to put all related pragmas to it. Working example Float64 data thus is:

[code]

[2015-10-03 21:19] #72 closed

[2015-10-09 22:08] klkeys opened #73 "Remaining compatibility issues with OpenCL.jl and Julia v0.4"
Hello,

Many thanks for developing this package! I have found it quite useful.

Now that Julia v0.4 has been released, will OpenCL.jl move to the v0.4 environment? I noticed several deprecation warnings when loading OpenCL.jl into Julia v0.4.

[2015-10-09 22:12] SimonDanisch commented on #73
No one got around to it yet ;) since most deprecation warnings are easy to fix, feel free to submit a pull request!
Best,
Simon

[2015-10-12 18:53] klkeys commented on #73
It would seem that my question was premature. I think that I was not operating with the master branch of OpenCL.jl. The master branch addresses the v0.4 compatibility issues already! My apologies for the false alarm. I move to close this issue...

[2015-10-12 18:53] #73 closed

[2015-10-13 00:07] jakebolewski commented on #73
@klkeys do we need to tag a new release?  I thought we already did this but 0.4 was only released recently.

[2015-10-13 05:51] vchuravy commented on #73
@jakebolewski our last relese is from August and the 0.4 fixes came in September

[2015-10-27 21:57] jakebolewski opened #84 "Documentation"
Now that we have a shiny new documentation system.

[2015-10-28 02:22] vchuravy commented on #84
That would also mean dropping support for 0.3, but I am fine with that.

[2015-10-30 23:41] klkeys opened #85 "Serialization of OpenCL pointers"
I am trying to use OpenCL.jl in a *k*-fold crossvalidation scheme. In this scheme, the GPU will house some data that are common to all *k* folds. I have a wrapper function that loads all of the data, allocates the (constant) GPU buffers, and compiles the OpenCL program/kernels. The wrapper then uses `@spawn` to farm each fold to its own CPU core. Each fold will then use the (constant) GPU data, pl

[2015-10-31 18:38] jakebolewski commented on #85
Can you provide a small test-case that is failing?  I'm not surprised this does not work as we would have to provide special serialization methods for OpenCL Buffers.  Do-able, but a test / use-case helps.

[2015-11-01 19:00] klkeys commented on #85
I wrote a (somewhat verbose) minimal working example a public Gist: https://gist.github.com/klkeys/ff9e79e002e9a8f6cda4.
On my server with a Tesla C2050 GPU, it throws the error that I described earlier.

[2015-11-02 19:35] jakebolewski commented on #85
That example does not work, but I see what you are trying to do.  I think first off you have to define a ctx / queue per process.  Once you have that  you should send the buffer's back at a high level using Julia's RPC mechanism.   Trying to share the queue over multiple processors is not going to work.

As for specific types serializing pointer's will no longer throw an error and instead will des

[2015-11-02 19:50] jakebolewski commented on #85
[code]

[2015-11-02 21:11] klkeys commented on #85
@jakebolewski this is wonderful! But there is one problem. In this framework, each process has its own copy of `x_buff`. If I have, say, `k = 10` processes, then there are 10 copies of the same data on the GPU. I will very quickly exceed GPU memory capacity if I execute this code. Is there no way for the master process to initialize `x_buff` once and then tell the processes to find it? That would

[2015-11-02 21:16] jakebolewski commented on #85
The buffer has to be local to each process.  You have to do the subdivision manually or come up with an abstraction that handles this for you.

[2015-11-03 00:16] klkeys commented on #85
Understood. I will need to return to my drawing board and think about how to correctly distribute these computations. Thank you for your help @jakebolewski!

[2015-11-03 00:16] #85 closed

[2015-11-06 06:36] vchuravy opened #86 "Current Event callback uses undefined behaviour"
I learned today [1] that the solution I implemented for user callbacks in [2] is using undefined/illegal behaviour.
I am quite amazed that it worked as long as it did...

[code]

I am not quite sure how to solve that problem without reimplementing `Base.SingleAsyncWork` since we can't pass along `evt_id::CL_event, status::CL_int`.

@jakebolewski Any ideas?

[1] https://groups.google.com/forum/#!to

[2015-11-10 15:10] vchuravy opened #90 "Use 0.4 machinery"
After dropping support for v0.3 we should take advantage of 0.4 using Refs instead of arrays of size one and call overloading are obvious canidates. Anything else?

[2015-11-11 22:13] dfdx commented on #86
Can it be the reason for [segfault in tests](https://travis-ci.org/JuliaGPU/OpenCL.jl/jobs/90612668)? (note that I commented out possibly erroneous tests for arrays).

[2015-11-11 23:28] vchuravy commented on #86
Yes that is entirely possible and probably my fault. I am going to look
into this. How often do you see it occur?

On Thu, 12 Nov 2015 07:13 Andrei Zhabinski <notifications@github.com> wrote:

[2015-11-12 11:00] dfdx commented on #86
It is pretty reproducible in Travis (40% of time, in other 60% error is not printed, but build fails, so it may also be caused by segfault). Though, currently I don't have access to a GPU-enabled computer, so cannot test it locally.

Note 2 things:

 * `segfault-test` branch is a copy of master with array tests commented out
 * segfault occurs only for Julia v0.4 on Linux, nightly build and Mac ar

[2015-11-16 17:13] nstiurca commented on #18
One possible use case for OpenCL's `float2`/`float4` is to represent complex numbers or quaternions. Likewise, `uchar3`/`uchar4` often represent RGB/RGBA pixels. We should consider if there is a clean way to map between eg Julia's `Complex` <--> `half2`/`float2`/`double2`, or Julia's `Quaternion` <--> `float4`, or mapping to `Colors.RGB`, etc.

[2015-11-16 17:15] nstiurca commented on #18
Also, no reason to limit to float/double support. We should also support all integer types, as well as half if the OpenCL device supports it.

[2015-11-17 06:36] vchuravy commented on #86
@dfdx Sorry I completely missed the point you were trying to make. I though #87 was already merged and was about to investigate the seqfault you mentionend and wondered why it is still the old code. I think it is time to merge #87 now and that should hopefully solve your issue.

[2015-11-17 06:36] #86 closed

[2015-11-17 06:51] vchuravy opened #91 "CLArray testing problem"
Besides the OOM problem on travis I am also running into this:

[code]

on a `OpenCL.Device(NVS 4200M on NVIDIA CUDA)`

[2015-11-17 20:59] dfdx opened #92 "`payload` not defined in `ctx_notify_err()`"
Probably just a typo, but still better to track it somewhere until somebody finds time to fix it.

From [build](https://travis-ci.org/JuliaGPU/OpenCL.jl/jobs/91679929) on Travis (Julia 0.4 on Mac):

[code]
Which leads us to [this line](https://github.com/JuliaGPU/OpenCL.jl/blob/master/src/context.jl#L41).

[2015-11-17 21:06] dfdx commented on #86
Thanks, that error has gone now. However, I encounter another (minor) issue which might be related to even callbacks - see #92 .

[2015-11-17 22:55] vchuravy commented on #92
Thanks :+1:

[2015-11-17 22:55] #92 closed

[2015-12-07 16:56] nstiurca commented on #91
Once #98 is merged, see if that makes a difference.

I'm finding OpenCL to be a very fickle mistress though. For me, all tests run ok using NVIDIA GTX 860M device, but using `OpenCL.Device(Intel(R) Core(TM) i7-4710HQ CPU @ 2.50GHz on Intel(R) OpenCL)` yields

<pre><code> <... SNIP ...>
OpenCL.CLArray

ERROR: LoadError: LoadError: CLError(code=-38, CL_INVALID_MEM_OBJECT)
 [inlined code] from /home/

[2015-12-07 17:00] nstiurca opened #100 "OpenCL 2.0 problems"
Using `OpenCL.Device(Intel(R) Core(TM) i7-4710HQ CPU @ 2.50GHz on AMD Accelerated Parallel Processing)` (AMD's OpenCL has version 2.0), I get the following

<pre><code>julia> Pkg.test("OpenCL")
INFO: Computing test dependencies for OpenCL...
INFO: No packages to install, update or remove
INFO: Testing OpenCL
OpenCL.Platform

    Failure :: (line:-1) :: Platform Info :: fact was false
      Express

[2015-12-07 17:05] jakebolewski commented on #100
Which runtimes support OpenCL 2.0 at the moment?

[2015-12-07 17:45] nstiurca commented on #100
[AMD APP SDK v3.0](http://developer.amd.com/tools-and-sdks/opencl-zone/amd-accelerated-parallel-processing-app-sdk/). You can try it out on any x86_64 CPU I think (I have Intel CPU as you can see at the top of my post).

[2015-12-07 17:56] nstiurca commented on #100
I'm curious if the segfault is reproducible for others or if something is wrong with my installation...

[2015-12-07 22:33] dfdx commented on #91
Seems like both of these issues refer to `transpose!()`. This function was implemented using Python notebook from `examples/` without paying attention to details, so now I see several gross mistakes in it. I'm working on it and will post an update soon.

[2015-12-11 20:30] dfdx opened #102 "Performance compared to ordinary Julia arrays"
Let's take just a little bit modified example from README:

[code]

Running this example on my machine like this:

[code]

takes 0.328125 seconds (and 5Mb). At the same time doing the same thing for native Julia arrays:

[code]

it takes 0.251480 seconds (and 780Kb).

Summing arrays of numbers looks like a perfect use case for GPU computing. Yet, it's worse than ordinary addition performed on CPU.

[2015-12-11 21:04] jakebolewski commented on #102
Welcome to the wonderful world of Ahmdel's law and GPU computing.

Summing numbers is decidedly *not* a great example for GPU computing.  You incur a serial overhead every time you communicate with the GPU and your example does that every iteration.

[2015-12-11 22:54] dfdx commented on #102
Basically, I expected the size of the problem (50k of floats) to be enough to overcome communication overhead, but I've got 2x speedup only on 100M of elements, which sounds pretty huge for me. Is there anything I can do to improve performance in the test? Something instead of `sum()`?

[2015-12-14 21:56] dfdx commented on #102
Seems like one of the causes is performance of my GPU itself - I tried very similar test on a different one with a newer NVidia card and it gave 2.5 boost compared to CPU.

[2015-12-14 22:07] jakebolewski commented on #102
You can do multiple things:

Try to increase arithmetic intensity of the kernel by fusing them.
You can lazy enqueue kernels on the gpu by declaring task dependencies, right now you are waiting for the kernel to complete every iteration.

Since the arithmetic intensity is so low, what you are really measuring in memory bandwidth on the GPU with the above example (+ the communication costs between

[2015-12-14 22:17] dfdx commented on #102
I missed this point and thought `enqueue_kernel()` returns immediately (hence this additional logic with return event). Can you please provide an example how to lazily enqueue a kernel?

[2015-12-15 00:34] vchuravy commented on #102
`enqueue_kernel` takes a kwarg `wait_on` that can be a vector of events or nothing. So you can schedule all your operations on the device and the wait for the last one to finish.

[2015-12-15 19:14] dfdx commented on #102
@vchuravy Do you mean something like this:

[code]

[2015-12-15 22:42] vchuravy commented on #102
@dfdx
I was thinking of

[code]

You should see a performance difference for big problem sizes, because you allow OpenCL to start copying data earlier.

[2015-12-15 23:55] dfdx commented on #102
I modified it a little bit to make it runnable, and result is exactly the same as in my version:

Modified version (takes 0.490161 seconds)
[code]
My original version (takes 0.486604 seconds)
[code]

I believe in all cases the same thing happens: all kernels are quickly enqueued and then executed one by one. In your version waiting on the last event works because all kernels are provided with `wai

[2015-12-16 00:18] vchuravy commented on #102
I can try early next week on a GPU cluster I have access to.

On Wed, 16 Dec 2015 at 09:11 Andrei Zhabinski <notifications@github.com>
wrote:

[2015-12-16 00:31] dfdx commented on #102
Great, thank you.

[2016-01-02 18:38] dfdx commented on #91
@vchuravy @nstiurca Could you please check if this issue is reproducible using latest master?

[2016-01-02 19:03] nstiurca commented on #91
I'll try to have a look this weekend.
On Jan 2, 2016 1:38 PM, "Andrei Zhabinski" <notifications@github.com> wrote:

[2016-01-05 22:00] dfdx opened #103 "Installation of OpneCL in Travis"
I'm trying to fix tests on Travis for CLBLAS.jl, which requires OpenCL to be installed. This package passes tests without any problem, but I can't grasp what in `.travis.yml` (or elsewhere) ensures OpenCL is in place. Any hints?

[2016-01-07 05:09] vchuravy commented on #103
There is a CPU OpenCL implementation from AMD that one can install via `fglrx` https://github.com/JuliaGPU/OpenCL.jl/blob/a891eb88642610f5ed44dcaa49f6bf05e2d76639/.travis.yml#L18 .

[2016-01-08 00:47] dfdx commented on #103
Seems like subtle changes to `.travis.yml` make build run on a legacy infrastructure somehow affecting `dkms` package and consequently `fglrx` module. Most likely I will just continue without Travis until their infrastructure is in the migration process.

Thanks for your answer!

[2016-01-08 00:51] #103 closed

[2016-01-08 02:08] vchuravy commented on #103
Yes you have to run on the old legacy infrastructure. It would be super
nice to have a script that installs and download either the Intel or AMD
opencl implementation on the new docker infrastructure.

On Fri, 8 Jan 2016, 09:51 Andrei Zhabinski <notifications@github.com> wrote:

[2016-01-10 00:56] dfdx commented on #103
As described in JuliaGPU/CLBLAS.jl#21, I've tried AMD SDK, but they have pretty unfriendly API, so I'll continue with Intel implementation or just upload archive to whatever public storage (I hope, AMD will not be very angry with it).

[2016-01-18 01:47] vchuravy commented on #100
I just hit the same issue in #104

[2016-02-05 07:22] rafaelcp commented on #100
Happened to me too. Then I realized that the package test file was different from the dev one. Removed the package and installed with Pkg.clone and Pkg.build. Test passed.

[2016-02-05 07:26] rafaelcp commented on #91
Just updated to latest master and got:

 [inlined code] from C:\Users\Rafael\.julia\v0.4\OpenCL\src\macros.jl:6
 in build! at C:\Users\Rafael\.julia\v0.4\OpenCL\src\program.jl:81
 in build_kernel at C:\Users\Rafael\.julia\v0.4\OpenCL\src\util.jl:41
 in get_kernel at C:\Users\Rafael\.julia\v0.4\OpenCL\src\util.jl:54
 in transpose! at C:\Users\Rafael\.julia\v0.4\OpenCL\src\array.jl:111
 in anonymous

[2016-02-05 20:01] rafaelcp commented on #91
After including #98, I got:

 [inlined code] from C:\Users\Rafael\.julia\v0.4\OpenCL\src\macros.jl:6
 in set_arg! at C:\Users\Rafael\.julia\v0.4\OpenCL\src\kernel.jl:75
 in set_args! at C:\Users\Rafael\.julia\v0.4\OpenCL\src\kernel.jl:105
 in transpose! at C:\Users\Rafael\.julia\v0.4\OpenCL\src\array.jl:107
 in anonymous at C:\Users\Rafael\.julia\v0.4\OpenCL\test\test_array.jl:55
 in context at C:

[2016-02-05 20:14] rafaelcp commented on #91
More info just before the error:

R) OpenCL @0x000000000eb19240),OpenCL.Context(@0x000000000eb1aba0 on Intel(R) Co
re(TM) i7-4510U CPU @ 2.00GHz))

[2016-02-05 20:55] dfdx commented on #91
@rafaelcp If you run the test several times, is this error always reproduced with exactly the same message? In general, #98 doesn't add anything new and both errors point to the same lines, but with different error codes, so it makes me think it might be subject for a chance.

[2016-02-05 21:09] rafaelcp commented on #91
@dfdx Yeah, I'm getting exactly the same result everytime.

[2016-02-05 21:25] rafaelcp commented on #91
I also get this after almost every test, although they don't fail:

[2016-02-05 21:30] dfdx commented on #91
What OpenCL implementation do you use? Is it possible for you to switch implementation (e.g. AMD <-> Intel)? Also, if you use AMD SDK 3.0 it makes sense to test earlier version (v2.9).

[2016-02-05 23:50] rafaelcp commented on #91
I have both AMD (3.0) and Intel here. I skipped the Intel platform in the test and it passed. The readme example is working too. So, I think while I keep using the AMD platform, everything will work as intended. Another time I'll see if my Intel SDK needs an update. Thanks!

[2016-04-07 11:15] #91 closed

[2016-04-11 01:00] juliohm opened #105 "CL_PLATFORM_NOT_FOUND_KHR"
I am on Antergos Linux:

[code]

 [inlined code] from /home/juliohm/.julia/v0.4/OpenCL/src/macros.jl:6
 in platforms at /home/juliohm/.julia/v0.4/OpenCL/src/platform.jl:21
 in create_some_context at /home/juliohm/.julia/v0.4/OpenCL/src/context.jl:207
 in create_compute_context at /home/juliohm/.julia/v0.4/OpenCL/src/util.jl:2

The hardware I have:

[code]

00:02.0 VGA compatible controller: Intel

[2016-04-11 01:01] yuyichao commented on #105
Do you have any OpenCL driver isntalled? `ls /etc/OpenCL/vendors`

[2016-04-11 01:03] juliohm commented on #105
@yuyichao I don't have this folder here, I will check how to install the drivers and close the issue. Thank you.

[2016-04-11 01:05] yuyichao commented on #105
IIUC Antergos Linux is Arch Based so https://wiki.archlinux.org/index.php/GPGPU#OpenCL

[2016-04-11 01:05] #105 closed

[2016-04-11 01:07] juliohm commented on #105
@yuyichao I am reading the page, does OpenCL support on-board Intel graphics cards?

[2016-04-11 01:10] yuyichao commented on #105
There's an open source driver beignet for Ivy Bridge and later hardware (older ones doesn't support OpenCL asfak). It should support SkyLake although I've seen some error on some of the OpenCL.jl tests when testing an old version a while ago.

It is available through AUR and the git version is also available in the [archlinuxcn repo](https://github.com/archlinuxcn/repo).

[2016-04-11 01:13] juliohm commented on #105
Thank you for this very useful info, I will check this driver you mentioned in AUR.

[2016-04-11 01:18] juliohm commented on #105
One last question: what is the idea behind using the `intel-opencl-runtime` to execute on the CPU? Let's say I want to perform FFT with OpenCL FFT instead of Julia's FFT, will it be faster? What about if I use the beignet driver that you suggested?

[2016-04-11 01:22] yuyichao commented on #105
Beignet is GPU only and the intel proprietary driver is CPU only (on Linux).

The difference between running native code and using the OpenCL driver on CPU is roughly the difference between using gcc/clang and icc. I've seen a decent speed up using it for simple element wise array ops compare to the default blas and numpy/numpypy. I've never benchmarked it with julia though.

[2016-04-11 01:26] yuyichao commented on #105
P.S. the comparison I did was a long time ago and the speed up might be related to eliminating the temporary arrays....

By using the OpenCL CPU driver, it can also make use of all the features the CPU provides, which can make a big difference if your julia is not compiled with `-C native`.

[2016-04-11 01:28] juliohm commented on #105
Thank you for all the answers @yuyichao, they are really helpful. I will try to use the GPU with Beignet first and then try the CPU with the Intel driver. My Julia was compiled from Github, I didn't touch the Makefiles though. I will keep the `-C native` option in mind.

[2016-04-11 01:29] yuyichao commented on #105
Default source compilation should be using the native arch. (And if you are just comparing fft, this shouldn't matter since fftw can detect these at runtime too).

[2016-04-11 01:34] juliohm commented on #105
You mean fftw will be as fast as using the OpenCL FFT with the Intel driver on the CPU? I will only try Beignet then.

[2016-04-11 01:40] yuyichao commented on #105
Well, it will depend on which one is better optimized. OpenCL does come with additional overhead so I would guess OpenCL FFT shouldn't be much (if any) faster... It's hard to tell without actually benchmarking it though (didn't find any with a brief google search). (If you find OpenCL FFT to be significantly faster, you can probably report it to fftw ;-p ).

As a side note, in my experience, the I

[2016-04-11 01:42] juliohm commented on #105
Thank you! I will follow all your suggestions.

[2016-05-19 07:07] juliohm opened #106 "Incorrect result for simple multiplication kernel"
Could you please explain why the assertion fails?

[code]

[2016-05-19 08:02] SimonDanisch commented on #106
It should be `length` instead of `size`:
[code]
Or you need to rewrite your kernel to actually use 2d indices.
Best,
Simon

[2016-05-19 13:47] juliohm commented on #106
Thank you Simon, I'll rerun and close the issue.

-Júlio

[2016-05-19 15:22] juliohm commented on #106
Everything is working just perfect :+1:

[2016-05-19 15:22] #106 closed

[2016-06-01 16:41] jkozdon opened #107 "`enqueue_write_buffer` and `enqueue_read_buffer` arguments"
I was wondering as the reason for `enqueue_write_buffer` and `enqueue_read_buffer` taking different arguments, i.e., why does `enqueue_write_buffer` take `nbytes` and `enqueue_read_buffer` not. It seems that these should be same.

Also, currently `nbytes` is not used by `enqueue_write_buffer`, so the user does not have access to the low-level interface (instead the number of bytes is determined fr

[2016-07-02 23:52] klkeys opened #108 "OpenCL.wait and type stability"
Is it possible to enforce type stability when wrapping kernel calls with `OpenCL.wait`? The inferred return type of `OpenCL.wait` is `Union{Array{OpenCL.CLEvent,1},OpenCL.CLEvent}`.

I can try to illustrate using a part of my code. The `PLINK.PlinkGPUVariables` type is a container object with the GPU buffer `y_buff` as one field. `copy_y!` simply copies a CPU `SharedVector` `y` to `y_buff`. `Float

[2016-07-24 19:41] ericproffitt opened #110 "Apparent OpenCL.read error"
Consider the code:

[code]

You can clearly see that upon reading `abuf` back into host memory, that the last 50 or so coordinates are now zeroed out.  The vector `a` is about half a gigabyte, which is well within both my host and device's memory, what is going on here?  Is this something caused by the wrapper or is it a bug in OpenCL itself?

[2016-07-24 19:50] yuyichao commented on #110
Works for me. What driver are you using and can you reproduce with C?

[2016-07-24 19:58] esproff commented on #110
@yuyichao

By driver version do you  mean what version of OpenCL?  I'm using OpenCL 1.2 on an Intel HD Graphics 4000 with 1536MB, unfortunately I don't know C well enough to try reproducing in C.

[2016-07-24 20:04] yuyichao commented on #110
No I mean what driver you are using and on what platform.

[2016-07-24 20:19] esproff commented on #110
@yuyichao

I don't really know what a driver is TBH or how to find it, I typed `device[:driver_version]` and it said 1.2.  I'm on a macbook pro mid-2012 if that helps.  Searching online and on my mac system profile and so far haven't found driver info.

[2016-07-24 20:30] esproff commented on #110
@yuyichao

Ok so I think I may have found it, here is the info on the driver I think:

  Version:	2.7.0
  Last Modified:	4/19/16, 9:16 PM
  Bundle ID:	com.apple.driver.Intel82574L
  Loaded:	No
  Get Info String:	2.7.0, Copyright Apple, Inc. 2009-2015
  Obtained from:	Apple
  Kind:	Intel
  Architectures:	x86_64
  64-Bit (Intel):	Yes
  Location:	/System/Library/Extensions/IONetworkingFamily.kext/Con

[2016-07-27 17:33] protogeezer opened #111 "Unhandled task failure on v0.5"
I have a 5K retina iMac with OpenCL.Device(AMD Radeon R9 M295X Compute Engine on Apple @0x0000000001021c00). I've started getting errors when I build kernels:

ERROR (unhandled task failure): OpenCL Error: OpenCL.Context error: ȧJ?
 in raise_context_error(::String, ::String) at /Users/sjbespa/.julia/v0.5/OpenCL/src/context.jl:56
 in macro expansion at /Users/sjbespa/.julia/v0.5/OpenCL/src/context.

[2016-07-27 19:22] vchuravy commented on #111
Thanks for the report, could you try the branch https://github.com/JuliaGPU/OpenCL.jl/pull/109? The PR is still WIP, but master does not support v0.5 at the moment.

[2016-07-27 19:45] protogeezer commented on #111
Fair enough. How do I select the vc/refactor branch? I tried doing a git checkout followed by a Pkg.build("OpenCL") but after that usual functions such as OpenCL.devices and create_some_context are missing.. or at least undefined.

[2016-07-27 20:44] vchuravy commented on #111
hm `Pkg.checkout("OpenCL", "vc/refactor")` should be enough.

On Thu, 28 Jul 2016 at 04:45 protogeezer <notifications@github.com> wrote:

[2016-07-27 21:06] protogeezer commented on #111
After the checkout functions like OpenCL.devices(), OpenCL.platforms(), and OpenCL.create_some_context() are still undefined.

[2016-08-04 19:40] esproff commented on #110
Has anyone be able to reproduce this yet?  It's really frustrating.

[2016-08-05 14:17] vchuravy commented on #110
Sorry, I don't have a mac available for testing. I will see if I can reproduce this with travis.

[2016-08-05 14:51] vchuravy commented on #111
Oh sorry I misread your comment.

On the refactored branch you will have to do

[code]

[2016-08-05 14:55] protogeezer commented on #111
Thanks!
I’ll try it out.

[2016-08-05 15:00] vchuravy commented on #110
@esproff Are you using Julia v0.4?

[2016-08-05 15:04] esproff commented on #110
@vchuravy Yes I'm using Julia v0.4.6.

[2016-08-05 15:17] vchuravy commented on #110
[code]

[2016-08-05 17:53] protogeezer commented on #111
Adding a small error to the examples/demo.jl (see below) results in different crashes depending on whether the problem is a warning or an error. For the version with an error:
[code]
====================
[code]

[2016-08-05 22:44] esproff commented on #110
@vchuravy

I ran your code and here is the output:

[code]

[2016-08-05 22:47] vchuravy commented on #110
Can you run your code on the CPU device? OpenCL implementation are all over
the board and I wouldn't be surprised if there is a problem with the
combination of Apple + Intel GPU.

On Fri, 5 Aug 2016, 18:44 esproff, <notifications@github.com> wrote:

[2016-08-05 23:12] esproff commented on #110
@vchuravy

Thanks for getting back to me so quickly, apologies for the delay in getting back to you, it took me a bit to figure out how to set my device and context to my CPU.  So I set them to the CPU, and ran my code example above, and it works fine on the CPU, no problems.

[2016-08-11 02:25] juliohm opened #112 "CL_INVALID_VALUE"
After updating my packages, I started getting this error whenever I try to create a Context object:

[code]

 in Context at /home/juliohm/.julia/v0.4/OpenCL/src/context.jl:74

Can someone please help me solve the issue?

[2016-08-11 02:51] vchuravy commented on #112
From which version to which version have you updated? Did you also change your driver/system packages.

[2016-08-11 02:58] juliohm commented on #112
@vchuravy I did the Julia update this last week. I don't remember seeing any updates in the OS regarding the CL drivers though. How can I further debug this issue?

[2016-08-11 03:07] juliohm commented on #112
This is the output of clinfo:

[2016-08-11 03:09] yuyichao commented on #112
Did you update the kernel?

[2016-08-11 03:12] juliohm commented on #112
@yuyichao probably, what do you have in mind?

[2016-08-11 03:15] yuyichao commented on #112
I've seen OpenCL initialization error if you updated the kernel and haven't restarted yet. (And in general, the kernel and graphic drivers are "opencl related")

[2016-08-11 03:16] juliohm commented on #112
@yuyichao I will restart the laptop and see if the error persists.

[2016-08-11 03:21] juliohm commented on #112
Restarted the laptop and the issue is still there. What else can I print or investigate to find the root of the issue?

[2016-08-11 03:37] vchuravy commented on #112
Can you give me the exact version of OpenCL.jl that you are using `Pkg.status("OpenCL")`?
And maybe try the current master `Pkg.checkout("OpenCL")`

[2016-08-11 03:49] juliohm commented on #112
Sure, this is what I have:

Commit eb322c0* (2016-07-10 08:08 UTC)
Platform Info:
  System: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz
  WORD_SIZE: 64
  BLAS: libopenblas (USE64BITINT DYNAMIC_ARCH NO_AFFINITY Haswell)
  LAPACK: libopenblas64_
  LIBM: libopenlibm
  LLVM: libLLVM-3.3

I am running a study on the CPU without OpenCL for now. Will try the master branch

[2016-08-11 04:04] vchuravy commented on #112
Ok, the next step after that is to figure out what we are passing to OpenCL and why Beignet&Skylake seem to have a problem here.

You can add debug output around https://github.com/JuliaGPU/OpenCL.jl/blob/v0.3.6/src/context.jl#L71 to all the arguments we are passing.

Also just to make sure that I understand you correctly. You updated you Julia version to `0.4.7-pre` and before that this worked on

[2016-08-11 04:09] juliohm commented on #112
I updated Julia weeks ago. Everything was working fine with OpenCL and the GPU in `0.4.7-pre`. Recently I updated the packages and the OS. Probably a Beignet issue?

[2016-08-11 12:11] vchuravy commented on #112
I just installed beignet (from git with the same commit you have)

[code]

So it might be a Skylake+Beignet issue. We didn't update OpenCL.jl in a while so the most likely seems the OS update.

[2016-08-11 13:15] juliohm commented on #112
Thank you, I will checkout OpenCL.jl, and play with the Beignet version later today. I will also print debug information around the section you suggested.

[2016-08-12 04:51] juliohm commented on #112
If I print the arguments passed to `api.clCreateContext()`, the output looks like the following:

[code]

1
[Ptr{Void} @0x00007fbe0c4b3660]
Ptr{Void} @0x0000000000000000
Base.RefValue{OpenCL._CtxErr}(OpenCL._CtxErr(Ptr{Void} @0x0000000002ad2040,Ptr{Int8} @0x0000000000000000,Ptr{Void} @0x0000000000000000,0x0000000000000000))

Anything strange? I tried checking out master, but it requires Julia v0.5

[2016-08-12 14:21] vchuravy commented on #112
`ctx_callback_ptr` is null which confused me initialiy and is a problem that we need to fix (precompilation is problematic here). But according to the spec that is fine https://www.khronos.org/registry/cl/sdk/1.2/docs/man/xhtml/clCreateContext.html.

Maybe try setting `ctx_user_data = C_NULL`

[2016-08-13 01:52] juliohm commented on #112
Hi @vchuravy , I didn't understand, could you please elaborate? Is this a bug in OpenCL.jl? Why setting `ctx_user_data = C_NULL`?

[2016-08-13 02:01] vchuravy commented on #112
OpenCL implementations are tricky. Some of them have problems with certain patterns and fail sometimes.

There is indeed a bug in OpenCL.jl, that we pass a null pointer instead of the actual cfunction to the Context creation, put the standard allows for passing a null pointer. Now it is weird to pass a null pointer as the callback and a meaningful data pointer and my thinking here is that they mig

[2016-08-13 02:03] juliohm commented on #112
Thank you, I'll check out release-0.4 and report the results this weekend.

-Júlio

[2016-08-13 03:42] juliohm commented on #112
@vchuravy I can confirm the issue is gone in `release-0.4`. Will this receive a tag soon in METADATA?

[2016-08-13 04:23] esproff opened #115 "How to set OpenCL.api.clSetKernelArg arguments"
So I'm trying to initialize a local array in my kernel with a length which is only known at runtime.  Here is what I'm working with:

[code]

It should be some rearrangement of this code, I'm not really sure, I tried copying the examples on stack exchange basically verbatim, but I can't get it to work, I'm not sure in what order the arguments to `clSetKernelArg` should go in.

If I don't use `clSe

[2016-08-13 13:04] vchuravy commented on #112
Yes. Once I am back in front of a computer.

Good to hear that this solved your problem and thank you for your help
along the way.

On Fri, 12 Aug 2016, 23:42 Júlio Hoffimann Mendes, <notifications@github.com>
wrote:

[2016-08-13 13:12] juliohm commented on #112
Thank you very much for helping, I'm glad to be part of this community.

-Júlio

[2016-08-13 21:56] vchuravy commented on #115
Issuing `OpenCL.call` will reset the arguments https://github.com/JuliaGPU/OpenCL.jl/blob/release-0.4/src/kernel.jl#L168.

If you want to manually set the arguments you have to use `enqueue_kernel` or you can just pass the arguments to `call`

[2016-08-13 23:43] esproff commented on #115
Ok I figured this out with the help of vchuravy's link.  Basically there's a `OpenCL.LocalMem` type which you can initialize with a size.  You can then use these as arguments to `OpenCl.call`.

[2016-08-13 23:43] #115 closed

[2016-08-14 03:45] #112 closed

[2016-08-22 19:51] ericproffitt opened #116 "Add high-level support for OpenCL.api.clCreateSubBuffer"
Can someone show me an example of how to create a sub-buffer of an existing buffer, for the purposes of reading only a portion of my buffer back into host memory.  Here's what I have:

[code]

[2016-08-22 21:09] vchuravy commented on #116
I haven't tested this, but this should get you started. Let me know if this works for you and we might think about adding high-level support for this in OpenCL.jl

[code]

[2016-08-22 21:14] esproff commented on #116
@vchuravy

Hey awesome!  This works, thanks.

[2016-08-22 21:57] vchuravy commented on #116
@SimonDanisch is this of interest for you?

[2016-08-30 17:37] lawless-m opened #117 "OpenCL / cl module names"
Hi,

Julia 0.4.6 / OpenCL v0.4.1

to get https://github.com/JuliaGPU/OpenCL.jl/blob/master/examples/performance.jl to work

I  had to change cl. to OpenCL.

I see in the source they are nested modules

module OpenCL

export cl
module cl
...
end # cl
end # module

but this is the behavior I see

julia> using OpenCL

julia> cl
ERROR: UndefVarError: cl not defined

julia> OpenCL.cl
ERROR: UndefVarErr

[2016-08-31 14:06] vchuravy commented on #117
Julia v"0.4" is supported on the release-0.4 branch. The code on master is for Julia v"0.5".

See https://github.com/JuliaGPU/OpenCL.jl#currently-supported-julia-versions and NEWS.md

[2016-08-31 14:06] #117 closed

[2016-08-31 22:24] lawless-m commented on #117
my mistake, I do apologise

[2016-09-20 11:53] esproff opened #118 "Why wrap OpenCL.jl in two modules?"
Is there a reason everything in the OpenCL.jl file is now wrapped in `module OpenCL` _and_ `module cl`?

Now for non-exported functions you have to write, for example, `OpenCL.cl.Buffer`, instead of just `OpenCL.Buffer`.

[2016-09-20 12:46] vchuravy commented on #118
What I noticed was that we were writing
[code]

now you can just write
[code]

[2016-09-20 13:14] esproff commented on #118
@vchuravy Ah how did I not realize that I could just do that, silly oversight by me, ok fair enough, thanks.

[2016-09-20 13:14] #118 closed

[2016-09-20 20:54] esproff commented on #111
I'm also getting this error, however strangely enough the problem continues to run after the error.

[2016-09-21 06:05] esproff opened #119 "WARNING: call(f,args...) is deprecated, use f(args...) instead."
So when I run `cl.call` I get the following warning:

`WARNING: call(f,args...) is deprecated, use f(args...) instead.`

I get it in two different variants:

[code]

and

[code]

I'm afraid I don't fully understand this traceback, specifically the function names which are numbers like `##983#984`.

It looks like instead you can just use `queue(args...)` instead to avoid the depreciation warning, b

[2016-09-21 06:12] esproff commented on #119
Ok I just realized this is probably not something which needs to be handled on OpenCL.jl's end, so I'm going to go ahead and close this.

[2016-09-21 06:12] #119 closed

[2016-10-11 19:26] klkeys opened #120 "Conditional load of OpenCL.jl"
Is it possible to conditionally load OpenCL depending on whether or not Julia can find an OpenCL library? For Unix systems, I thought that I could imitate what appears in `api.jl`:

[code]

[2016-10-11 20:41] klkeys commented on #120
Perhaps not? This idea is covered in issues [#6195](https://github.com/JuliaLang/julia/issues/6195) and  [#15705](https://github.com/JuliaLang/julia/issues/15705) in Julia Base. It appears that some problems include [recompilation](https://github.com/JuliaLang/julia/issues/265) of the module and a [revamp of type stability inference](https://github.com/JuliaLang/julia/issues/8974).

[2016-10-14 23:40] juliohm commented on #120
@klkeys I am doing a simple trick to optionally load OpenCL in my package: https://github.com/juliohm/ImageQuilting.jl/blob/master/src/ImageQuilting.jl#L28-L32

[2016-10-14 23:46] juliohm opened #121 "Running tests with GPU on Travis CI"
My package uses OpenCL as an optional dependency: https://github.com/juliohm/ImageQuilting.jl/blob/master/src/ImageQuilting.jl#L28-L32. Some users will have it installed and in that case I would like to test the part of my code that is using the GPU. Currently I have zero coverage for GPU code because I don't know how to set up Travis properly.

Can you help me setting up Travis to run tests on GP

[2016-10-15 01:52] vchuravy commented on #121
The Travis in general doesn't have GPUs. The good thing about OpenCL is that you can use a CPU implementation of OpenCL.
Travis on Mac already comes with one and for Linux you can install several different ones. I would personally recommend POCL, the proprietary ones (Intel,Amd) are tricky to install on Travis.

We are using the AMD one for our testing see: https://github.com/JuliaGPU/OpenCL.jl/bl

[2016-10-15 02:43] juliohm commented on #121
Thanks @vchuravy , how would you install POCL in the Linux machine? Just do something like:

[code]

Why are you using AMD if POCL is easier to setup?

[2016-10-15 03:12] vchuravy commented on #121
POCL is a bit more experimental in nature and not all the features we are supporting are supported by them.
I think the ubuntu on travis is so horribly outdated that the won't have a modern version of pocl in the repo. Best to build it yourself.

[2016-10-15 15:39] juliohm commented on #121
Can I copy the AMD scripts in OpenCL.jl in case I figure out that POCL from the repos is not enough? I am only using CLFFT features in my package.

[2016-10-15 15:40] vchuravy commented on #121
Sure thing.

On Sun, 16 Oct 2016, 00:39 Júlio Hoffimann Mendes, <notifications@github.com>
wrote:

[2016-10-17 17:36] klkeys commented on #120
@juliohm it seems to work in my case. Thank you for the workaround!

[2016-11-17 07:49] juliohm opened #122 "Test error on Intel integrated GPU and Beignet driver"
Hi,

I only get a single test error on the latest stable `OpenCL.jl` and Beignet, which is great! Can you please help me understand what is the cause of the error? Should the issue be reported on Beignet instead?

[code]

[2016-11-17 09:23] vchuravy commented on #122
We are adhering to the OpenCL specs in this case see https://www.khronos.org/registry/cl/sdk/1.0/docs/man/xhtml/clCreateContext.html so it might indeed be an error in the implementation.
Can you manually create a device and context? Since it is very early test failure and it is outside of `@test` no further tests are really run.

[code]

[2016-11-17 15:29] juliohm commented on #122
@vchuravy I can create contexts without problems, and all tests in OpenCL pass except this one.

How can I debug this issue further?

[2016-11-18 04:24] juliohm commented on #121
@vchuravy suppose I have a function that does the GPU setup on my package: https://github.com/juliohm/ImageQuilting.jl/blob/master/src/utils_gpu.jl#L22-L45

I can run tests locally on my machine because I have the GPU properly configured with the driver and etc. Now, suppose I want to test the code on Travis without a GPU available, but on any device visible by POCL. Would it be safe to just remov

[2016-11-18 04:34] vchuravy commented on #121
Sadly there is no such guarantee :(, best thing you can do is

[code]

[2016-11-18 04:47] juliohm commented on #121
Thank you @vchuravy , I will consider doing something like that. It is hard to make sure the GPU is properly installed and at the same time test on Travis and get 100% coverage.

[2016-11-18 06:14] juliohm commented on #121
@vchuravy do you know if there is any way to interact with the Travis prompt before committing changes to it?

[2016-11-18 07:40] vchuravy commented on #121
Not that I am aware of...

On Fri, 18 Nov 2016 at 15:14 Júlio Hoffimann Mendes <
notifications@github.com> wrote:

[2016-11-21 12:42] gaozhang commented on #105
Hello, I'm a new user and I have the same problem today. Have you solved it yet?

[2016-12-03 21:53] ameresj opened #123 "Platform not found"
When building julia Version 0.6.0-dev.1378 on ubuntu 16.04, I can successfully use access OpenCL.

[code]
Nevertheless for the stable and also nightly build binaries from the Ubuntu repository it doesn't even find the platform. For example julia version 0.6.0-dev gives me:

[code]
Python with pyopencl works out of the box, so it has to be something julia specific that I am missing here. Probably s

[2016-12-04 03:37] juliohm commented on #122
Any idea on what is the cause and how can I fix it?

[2016-12-05 00:58] vchuravy commented on #123
I am not quite sure how to debug this from afar. Make sure that the same OpenCL library is loaded (see https://github.com/JuliaGPU/OpenCL.jl/blob/master/src/api.jl#L5-L8) and that you onnly have one OpenCL library installed. It might be that you have two on your load path. We get the platforms from the OpenCL library and there should be no difference between versions or between Julia and Python

[2016-12-11 07:11] juliohm opened #124 "Provide deps/build.jl in OpenCL family of packages"
Currently it is very hard to test features of packages that depend on OpenCL.jl. All of us would benefit from a `deps/build.jl` that downloads and compiles an open source OpenCL driver like POCL.

This would solve #121 and increase the coverage of many packages out there.

[2016-12-14 22:03] juliohm commented on #122
The tests with the low level API are still failing.

[2016-12-14 22:19] vchuravy commented on #122
Which version of beignet are you running?

[2016-12-14 22:45] juliohm commented on #122
Version         : 1.0.0.r823.gb55060c-1
Description     : A GPGPU System for Intel Ivybridge GPUs
Architecture    : x86_64
URL             : http://cgit.freedesktop.org/beignet/
Licenses        : LGPL2.1
Groups          : None
Provides        : opencl-intel  opencl-headers  opencl-headers12
Depends On      : glu  libsm  libxext  mesa  ncurses  ocl-icd  llvm
Optional Deps   : None
Required By     :

[2016-12-15 10:35] vchuravy commented on #122
Can you upgrade to version 1.1 or version 1.2?

[2016-12-15 10:54] juliohm commented on #122
@vchuravy I have it installed from the AUR `beignet-git` package. It clones the repository and grabs the latest release. I just tried to reinstall it again and got the same version as above. Are 1.1 and 1.2 tagged in the Beignet repository as stable releases?

[2016-12-15 10:57] juliohm commented on #122
I am getting a more serious error now with `Beignet 1.0.0.r1062.gab3925f-1`:

INFO: Testing OpenCL
: CommandLine Error: Option 'help-list' registered more than once!
LLVM ERROR: inconsistency in registered CommandLine options
================================================================================[ ERROR: OpenCL ]=============================================================================

[2016-12-15 20:54] juliohm commented on #122
Do you know the source of the error already? What can I do to fix it?

[2016-12-15 22:49] vchuravy commented on #122
I am travelling until Christmas, so I won't be able to look at it until after then.

Please do upgrade to a stable version and not to a `-git` version.

[2016-12-16 12:10] juliohm commented on #122
@vchuravy the stable version does not work well, the git version is not working after this last update. Happy Christmas! Please let me know when you are back.

[2016-12-19 19:05] juliohm opened #125 "CommandLine Error: Option 'help-list' registered more than once!"
Whenever I try to use `OpenCL.jl`, including its test suite, I get the following error:

[code]

LLVM ERROR: inconsistency in registered CommandLine options

Currently, I cannot use my GPU. Tried to checkout the master branch, but the problem is still there. Below are more details about the environment:

Commit 6a1e339ac* (2016-11-17 17:50 UTC)
Platform Info:
  System: Linux (x86_64-pc-linux-gnu)

[2016-12-19 20:51] vchuravy commented on #125
Is this a different system from: https://github.com/JuliaGPU/OpenCL.jl/issues/122#issuecomment-267299813?

[2016-12-19 21:05] juliohm commented on #125
@vchuravy no, the same system, should I rename that other issue instead and close this one?

[2016-12-19 21:55] vchuravy commented on #125
keep it open for now.

The error you are seeing is odd, since we never call llvm from the command line, but it might be a collision of different versions of llvm being used by Julia and beignet/intel driver.

[2016-12-20 10:51] juliohm commented on #125
@vchuravy I don't know if it is related, but recently `libcl` was replaced by `ocl-icd` in Arch Linux.

[2017-01-04 07:43] ylxdzsw opened #126 "Test failed in juila 0.5, win10 64"
[code]

The failed tests are:

[code]

These tests are unreasonable IMO, as `isequal(platform, p)` seems obviously `false`.

My platforms are:

[code]

[2017-01-04 21:12] jpsamaroo commented on #102
I just tested this on a Macbook Pro 2015 with an i7-4770HQ 2.2GHz CPU, and what I believe is an Iris Pro 6200 GPU. Running the second test listed (the first threw an error at me) with 100,000,000 elements on the GPU takes 1.0 seconds, and on the CPU, it takes 3.7 seconds.

For a more complex kernel and on a decent GPU (the Iris Pro isn't really that fast as far as modern GPUs go), I would imagine

[2017-01-09 06:47] #102 closed

[2017-01-20 03:34] juliohm commented on #125
@vchuravy any idea on how to solve this issue? We are about to submit a paper regarding our Julia package, however; its GPU features are currently not working in my workstation because of this issue.

[2017-01-20 04:33] vchuravy commented on #125
I don't have a system that supports Beignet currently (and iirc that is the OpenCL implementation you are using?).
From recent discussion it seems that you might have multiple LLVM version in-memory and they are not name-spaced correctly
and thus conflict with each other.

The thing you might do right now is to make sure that both Beignet and Julia use the same LLVM. This will involve
1. Make sure

[2017-01-20 04:41] juliohm commented on #125
Thank you @vchuravy what is a good way to check what LLVM version Beignet is linking?

Below you can find more details about the system:

# System's LLVM

Name            : llvm-libs
Version         : 3.9.1-2
Description     : Low Level Virtual Machine (runtime libraries)
Architecture    : x86_64
URL             : http://llvm.org/
Licenses        : custom:University of Illinois/NCSA Open Source Li

[2017-01-20 04:45] vchuravy commented on #125
Yeah the easiest thing might be to recompile Julia to use the system LLVM, but I forgot if we have LLVM 3.9  support on 0.5. We recently upgraded to 3.9.1 for 0.6.

[2017-01-20 04:47] juliohm commented on #125
I just realized that Julia is in Arch repos, I will give it a try first before compiling it myself. This will also in theory keep LLVM and Julia synced in future releases (hopefully).

[2017-01-20 04:54] juliohm commented on #125
Unfortunately the version in the Arch repos is also linking with LLVM 3.7.x.

I understood that Julia v0.5 doesn't support LLVM 3.9.x and that I need to have Beignet using the same LLVM version than Julia does. How can I check Beignet's LLVM version?

This is the output of ldd on Beignet's libcl.so:

	linux-vdso.so.1 (0x00007ffeef9b2000)
	libX11.so.6 => /usr/lib/libX11.so.6 (0x00007f6b5b80d000)
	l

[2017-01-20 05:36] vchuravy commented on #125
You could try using `downgrade`[1,2] to downgrade LLVM to 3.7.1 and then rebuild Julia with `USE_SYSTEM_LLVM=1`.

[1] https://aur.archlinux.org/packages/downgrader/
[2] https://aur.archlinux.org/packages/downgrade/

[2017-01-24 05:30] sjkelly commented on #125
I am getting this issue with GLVisualize as well:
[code]

After some digging I found this comment/patch that may be of help: https://bugs.freedesktop.org/show_bug.cgi?id=89325#c1

[2017-02-09 07:41] colbec opened #127 "Julia 0.6: test fails with "UndefVarError: CSize_t not defined""
Using Version 0.6.0-dev.2673 (2017-02-08 21:01 UTC) Commit e24faa5*
on openSUSE Leap 42.2:

[code]

[2017-02-09 08:35] vchuravy commented on #127
Well this is embarrassing. Apparently the macro changes in 0.6 has uncovered a few typos that have slipped through so far.
OpenCL is not yet compatible with Julia 0.6 and it will require some work to get it there. My current plan was to wait on feature freeze, before I update OpenCL.

If you want to have a go at it, feel free to do so, #128 fixes the oversights and typos.

[2017-02-09 10:42] colbec commented on #127
Not a problem, Sir. I will hold off on testing on 0.6 and recommence when it might be helpful. I can be experimenting with the v 0.5 version which seems to be fine.

[2017-02-10 03:51] #127 closed

[2017-02-20 01:13] vchuravy commented on #122
This might be fixed by #130

[2017-02-20 01:14] #90 closed

[2017-02-20 01:16] yuyichao commented on #122
Correct, this is the test failure I saw.

[2017-02-20 01:16] #122 closed

[2017-02-20 01:18] #126 closed

[2017-02-20 01:19] vchuravy commented on #126
fixed by #130

[2017-02-20 01:20] #123 closed

[2017-02-20 08:49] vchuravy opened #133 "Segmentation fault in test/test_array on AMD CPU"
Noticed while preparing v0.5.1 release. I am unable to catch this in RR and it occurs both in julia v0.5 and v0.6.

`julia -g 2 -e 'using Base.Test; using OpenCL; include(Pkg.dir("OpenCL", "test", "test_array.jl"))'`

cc: @dfdx since it is happening in a piece of code that you contributed. Any ideas?

[code]

This is the AMD SDK for CPUs v3.0

clinfo:
[code]

[2017-02-20 08:54] vchuravy commented on #133
On Travis we are currently using `AMD-APP-SDK-linux-v2.9-1.599.381-GA-x64.tar.bz2` If I remember correctly because of bugs like these...

[2017-02-20 10:16] dfdx commented on #133
This might be related to [this commented line](https://github.com/JuliaGPU/OpenCL.jl/blob/master/src/array.jl#L136) - if I recall it correctly, I copied most of the code for `transpose` from some implementation in C where the trick with `block_size + 1` came unexplained, so I just removed it. Could you please try to uncomment this line (and comment out the next one, of course) and try again?

[2017-02-20 11:02] vchuravy commented on #133
Just did and I am seeing the same behaviour. The seqfault happens when setting the first argument of the kernel https://github.com/JuliaGPU/OpenCL.jl/blob/409cb88e0921ffa5c12e79525fb16b2ab89025da/src/kernel.jl#L76, so for `buffer(B)`. Does anybody have an AMD gpu with the newest driver? (@SimonDanisch maybe?)

[2017-02-20 15:47] SimonDanisch commented on #133
I will have in 2 days ;)

[2017-03-28 03:39] vchuravy commented on #133
@SimonDanisch did you manage to give this a go?

[2017-03-28 09:02] SimonDanisch commented on #133
I get this only with finalizers activated for Buffer...
Uncommenting:
https://github.com/JuliaGPU/OpenCL.jl/blob/47fbbdda994188875d2e2895aaf00402126ce02b/src/buffer.jl#L18
Removes the error! Maybe it's time to correctly define cconvert and friends!? ;)

[2017-03-28 09:03] SimonDanisch commented on #133
Since the same "fix" solves also https://github.com/JuliaGPU/CLBLAS.jl/pull/25

[2017-03-28 09:48] SimonDanisch commented on #133
Uh.... Not sure on what branches I was, but master actually passes all tests locally for me...

[2017-03-28 11:55] SimonDanisch commented on #133
Okay, I think the last remaining problem is, that this segfaults:
[code]
The rest seems to work fine!

[2017-03-29 02:41] vchuravy commented on #133
These failures might be non-deterministic. Especially when finalizers are involved.

Definitely! Want to give this a go? ;P

Yeah that definitely should *not* segfault...

[2017-04-16 02:37] juliohm commented on #125
@vchuravy can you confirm this issue won't be fixed in Julia v0.5? Is it related to the Julia version at all?

[2017-04-16 04:57] vchuravy commented on #125
Yes. Since the problem is not with Julia itself, but with the interaction between different versions and builds of LLVM have. There is no immediate good solution and I don't know if there is anything we actually can do from the Julia side (JuliaLang/julia#12644 tracks that from the Julia side). This will need to be fixed with LLVM or on the packaging side of drivers (they could link LLVM staticall

[2017-04-17 01:31] vchuravy commented on #133
@SimonDanisch can you reproduce the seqfault and send a log/backtrace/rr trace along?

[2017-06-25 01:42] juliohm commented on #125
This problem is solved in Julia v0.6, awesome. Closing it.

[2017-06-25 01:42] #125 closed

[2017-06-25 18:04] juliohm opened #137 "Error creating context on Julia v0.6"
Could you please help in solving this issue?

[code]

[2017-06-25 18:06] juliohm commented on #3
@jakebolewski is this an issue in OpenCL.jl? Can it be closed otherwise?

[2017-06-26 02:32] vchuravy commented on #125
This will become an issue again once the llvm versions start diverging again...

[2017-07-02 01:33] juliohm commented on #137
Is this an error that you can reproduce?

[2017-07-02 08:24] dfdx commented on #137
Can't reproduce using latest master:

[code]

[2017-07-02 15:22] juliohm commented on #137
@dfdx, I am using the Beignet driver on an Intel integrated graphics card:

[code]

Beignet version:

Version         : 1.3.1-3
Description     : An open source OpenCL implementation for Intel IvyBridge+
                  iGPUs
Architecture    : x86_64
URL             : https://01.org/beignet
Licenses        : LGPL
Groups          : None
Provides        : opencl-intel  opencl-driver
Depends On

[2017-07-02 16:16] dfdx commented on #137
I'm not sure about stability of Julia 0.6.1, so I'd start with checking out 0.6.0. No package recompilation should be needed, but just in case you can also run `Pkg.build("OpenCL")`.

The next thing I'd try is to run the same code from `pyopencl` or any other language. This  way we will see whether the error is  caused by Julia or driver side.

[2017-07-02 16:24] juliohm commented on #137
I am using the branch `release-0.6`, so I think this is already the current stable. I did a pull just now to see if anything changed since the last build.

I will definitely try `pyopencl`, that is a wonderful idea! If it works there, we will be sure the issue is Julia-related.

[2017-07-02 17:00] juliohm commented on #137
I can create context with pyopencl just fine, so the issue is indeed Julia-related. What else could I try to debug it further? I don't know where to look next.

[2017-07-02 17:10] juliohm commented on #137
@dfdx, this is probably the cause: https://github.com/JuliaOpt/Ipopt.jl/issues/77

I appreciate if you can take a look at it, `OpenCL.jl` is quite important for my simulations.

[2017-07-02 18:38] dfdx commented on #137
I'm not very deep into development of OpenCL.jl itself, so other contributors may be more helpful. But I have a couple of ideas you can try:

1. Latest master of `release-0.6` branch is marked as `0.6.1-pre.0` which doesn't really mean  "stable". You may want to try tag `v0.6` or, equivalently, just download official binaries for Linux (which should be faster than re-compile everything).
2. Make s

[2017-07-02 19:05] juliohm commented on #137
Thank you, I tried with the v0.6 binary and the error is the same. I am on OpenCL `master` already. The OpenCL tests fail for the same reason. `cl.create_compute_context()` triggers the same error, as well as `cl.platforms()`, which is being called under the hood. We can track the error down to that `ccall`.

I can try another driver, but Beignet was working perfectly fine in previous Julia releas

[2017-07-02 21:33] tkelman commented on #137
that issue is windows specific so has nothing to do with this

[2017-07-03 09:42] dfdx commented on #137
I think it's worth to try to recover the old behavior first, i.e. compile beignet from git again.

[2017-07-11 19:24] ihnorton commented on #125
If this happens again, try `dlopen`ing the library with `Libdl.RTLD_DEEPBIND` (but be sure you do that for the very first dlopen of a given .so path -- the first load option dominates)

[2017-07-16 01:05] cmey opened #138 "no method matching unsafe_string(::Ptr{Void})"
[code]

[code]

[2017-07-19 18:22] juliohm commented on #137
@vchuravy could you please give a hand on this issue? I tried creating a context with pyopencl and it is working just fine with the Beignet driver:

[code]

The same attempt with `OpenCL.jl` triggers an error:

[code]

Given this experiment, I am sure this issue is not on the driver side. I appreciate if you can take a look at it when you have some time.

[2017-09-17 18:29] vchuravy opened #143 "Travis environment for Linux is broken"
AMD changed things again...

[2017-10-02 05:08] juliohm commented on #137
Problem solved out of nowhere, probably some driver update.

[2017-10-02 11:09] chriselrod opened #145 "ReadOnlyMemoryError()"
I get a ReadOnlyMemoryError
[code]
I know this isn't totally an OpenCL.jl issue, because ArrayFire gives me the same error and segfault:
[code]

Yet I am at a loss of where to go from here.
When I run clinfo from the command line, it lists "Device OpenCL C Version" as OpenCL C 1.1, but the ICD Loader Profile is listed as OpenCL 2.1 -- is this an issue? Output of clinfo:
[code]

I have some computa

[2017-10-02 11:12] #145 closed

[2017-10-02 11:13] chriselrod commented on #133
Figured it is better for me to comment here than open another issue. I am also getting segfaults every time, as well as a ReadOnlyMemoryError.
[code]
I know this isn't totally an OpenCL.jl issue, because ArrayFire gives me the same error and segfault:
[code]

Yet I am at a loss of where to go from here.
When I run clinfo from the command line, it lists "Device OpenCL C Version" as OpenCL C 1.1, bu

[2017-10-03 18:00] jpsamaroo commented on #133
I see you're using Mesa's Clover. Note that Clover is pretty much undeveloped now, and in my experience, segfaults if you so much as look at it funny. I could never get it to work with OpenCL.jl properly, similar situation as you're seeing (I tried with both a R9 390 and RX 480).

What I recommend is using either AMDGPU-PRO (I know, proprietary) if you can get it to work, or go the ROCm route (whi

[2017-10-03 19:20] chriselrod commented on #133
Okay, cool -- trying amdgpu-pro on the second computer, I'm able to build CLBLAS but ran into two issues:
1) https://github.com/JuliaGPU/OpenCL.jl/issues/123
2) The graphics no longer seemed to be working, and I could not log in to the GUI (screen would flash and I'd be back at the login screen). I switched to tty1 to test.

"1)" is the bigger problem because I can work around "2)" through either

[2017-10-03 22:58] jpsamaroo commented on #133
Regarding 1), it could definitely be the choice of GPU you're using. Although if it's the case that AMDGPU-PRO doesn't support it, I unfortunately can't help you, other than recommending you upgrade to something newer, like the Polaris or Vega line.

Regarding 2), it's probably some conflict between your OS AMDGPU kernel driver and AMDGPU-PRO kernel module (it only works on specific versions). Thi

[2017-11-29 19:46] stillyslalom commented on #28
I'm also interested in hardware interpolation of images (as seen [here](https://gist.github.com/inducer/c83d58aa1ea3640b16ee) in PyOpenCL), but I'm not sure where to start. Has anyone taken a crack at this yet?

[2017-11-29 22:52] timholy commented on #28
Not that I know of, but now that GPU support in Julia seems to be spectacular (and still getting better), I'm excited about this. But I'm not qualified to advise you how to start. Maybe https://github.com/JuliaGPU/GPUShowcases.jl would offer some useful clues? My impression is that this doesn't need to be OpenCL-specific, that the Julia infrastructure can support multiple backends.

[2017-11-30 03:10] vchuravy commented on #28
@SimonDanisch last worked on supporting the OpenCL definition of images, but I don't think any of the attempts ever got to a point.
I would be excited to see if we can make Images.jl and OpenCL.jl play nicely with each other.

[2017-12-09 21:01] yiping-huang opened #149 "OpenCL device not recognized inside Conda environment"
I have a conda environment with Julia from conda-forge.
[code]
If I do cl.platforms(), it says
`CLError(code=-1001, CL_PLATFORM_NOT_FOUND_KHR)`

But the Julia installed from official Arch Repo does work.
`OpenCL.Platform('AMD Accelerated Parallel Processing' @0x00007fcc83edd098)`
[code]

My clinfo reads:
[code]

[2017-12-09 21:28] znmeb commented on #149
@yiping-huang I have scripts that build all of this on Arch - I too am using Julia from Arch repositories. It turns out you need the `opencl-amd` package and some kernel variables with the latest kernels. See <https://wiki.archlinux.org/index.php/AMDGPU> for the setup. The open source "Clover" version of OpenCL doesn't work.

This should also work with the Julia binary tarball from the Julia downl

[2017-12-10 07:29] yiping-huang commented on #149
@znmeb That's exactly what I did to make OpenCL working.
My problem is that the specific version of Julia inside my miniconda environment doesn't work.

And I managed to solve the problem!

The package [ocl-icd](https://anaconda.org/conda-forge/ocl-icd) (as a dependent of packages [clblas](https://anaconda.org/conda-forge/clblas) and [clfft](https://anaconda.org/conda-forge/clfft) in my miniconda

[2017-12-10 20:27] vchuravy commented on #149
Yeah I don't think there is anything we can do about conda clobbering the systems `ocl-icd`

[2017-12-10 20:27] #149 closed

[2017-12-10 22:01] znmeb commented on #149
Is Anaconda on GitHub? Maybe they need an issue for this? Seems like their Julia should work with OpenCL if they support Julia and OpenCL.

[2017-12-11 08:46] yiping-huang commented on #149
It seems to be the default behavior.
[https://github.com/conda-forge/ocl-icd-feedstock/issues/5](url)
We should symlink `*.icd`s from `/etc/OpenCL/vendors/` to `$ENV_DIR/etc/OpenCL/vendors/`.

[2018-01-08 19:46] juliohm commented on #137
The issue is back, PyOpenCL works fine.

[2018-01-08 23:20] juliohm commented on #137
I can reproduce the issue with:

[code]

My clinfo output shows that the `clGetPlatormIDs` is correctly finding the platforms, and pyopencl can also finds it. What can be the cause for the failure with OpenCL.jl?

[2018-01-09 04:13] iblis17 commented on #137
reduce to ccall?
[code]

[2018-01-09 04:26] juliohm commented on #137
Same error @iblis17 , it shows `ReadOnlyMemoryError()`, any suggestion of next debugging step?

[2018-01-12 00:40] vchuravy commented on #137
You are on Linux right?
What happens if you do:

[code]

On my system I eventually get something like:
[code]

Telling me that `clGetPlatformsIDs` has been resolved to `/usr/lib/libOpenCL.so`. It would also be interesting to see what `libOpenCL.so` python is resolving to.

[2018-01-12 04:16] juliohm commented on #137
Hi @vchuravy , the first time I run, there is a lot of output, maybe part of it is cropped at the very beginning, but there is no reference to libOpenCL. Is there any way to redirect this output to a file, my terminal is probably not helping.

The second time I run, the output is small, has a reference to libOpenCL in it:

[code]

When I do the same operation in Python, it seems to link to beignet

[2018-01-12 04:31] iblis17 commented on #137
hmm, searching `/usr/lib` is done by default by Libdl.

[2018-01-12 04:38] juliohm commented on #137
@iblis17 I am just wondering why Python can find the correct Beignet library even though it is in a different path? Maybe they do in a more conservative way by querying clinfo or something?

[2018-01-12 04:40] vchuravy commented on #137
Julia loads `libOpenCL.so` which is the so called ICD loader, which allows you to have more than one platform installed.
Interestingly enough Python seems to link on the C-level against that library. It would be interesting to see which `libOpenCL.so` they actually link against.
You can reduce the output by using `LD_DEBUG=libs`.

You got an error code there:
[code]

So something on your system is

[2018-01-12 04:44] juliohm commented on #137
@vchuravy the error -1001 only happens when I try to run the call for the second time. The first call returns the ReadMemoryError.

I am on Arch Linux, this is what I get from Python and Julia with LD_DEBUG=libs

# Python
[code]

# Julia
[code]

[2018-01-12 04:46] vchuravy commented on #137
[code]

[2018-01-12 04:47] juliohm commented on #137
This is what I get as well:

/usr/lib/libOpenCL.so is owned by ocl-icd 2.2.11-1

[2018-01-12 04:52] juliohm commented on #137
I get the same owner:

[code]

[2018-01-12 04:52] juliohm commented on #137
Julia also links with /usr/lib/beignet/libcl.so beside libOpenCL.so is that expected?

[2018-01-12 05:01] vchuravy commented on #137
Yes it is, but I just noticed something else. `libcl.so` is loading `llvm-5.0.so` So we might be running into colliding LLVM versions again.

[2018-01-12 05:07] juliohm commented on #137
So Julia is building with LLVM 3.9, do you think if I rebuild Julia with system's LLVM 5.0 the issue can go away? I can also give a second try on Julia from Arch repo, it seems like following the release cycle well.

[2018-01-12 05:10] juliohm commented on #137
Giving it a try, building Julia again with USE_LLVM=1 in Make.inc

[2018-01-12 05:19] juliohm commented on #137
Oh yes, I remember, Julia doesn't support LLVM 5.0 right? What is a solution to this issue then? The build just failed.

[2018-01-12 05:20] iblis17 commented on #137
🤔  I don't think 0.6 can work with LLVM 5.0

and `USE_LLVM=1` should be `USE_SYSTEM_LLVM`

[2018-01-12 05:29] juliohm commented on #137
Will Julia v0.7 (and v1.0) support more recent versions of LLVM? Or there is any alternative solution to this situation with OpenCL?

[2018-01-12 05:30] iblis17 commented on #137
on 0.7,  LLVM 5.0 compiles, but not regularly tested. LLVM 6.0 doesn't compiled, IIRC.

[2018-01-12 05:31] iblis17 commented on #137
maybe you can
[code]
then, hack the cmake file to build with Julia's LLVM

[2018-01-12 05:32] iblis17 commented on #137
seems beignet supports LLVM 3.9

[2018-01-12 05:36] juliohm commented on #137
I will try build Julia v0.7 from master, thank you for the info.

[2018-01-13 22:02] juliohm commented on #137
I can confirm that the `ccall` works in Julia v0.7 built with LLVM 5.0. The OpenCL.jl package; however, is not ready for Julia v0.7.

[2018-01-15 21:49] vchuravy commented on #137
@juliohm can you try https://github.com/JuliaLang/julia/pull/24890 with v0.7 (and LLVM 3.9.1)?

[2018-01-16 03:48] juliohm commented on #137
@vchuravy could you please confirm I just need to clone inhorton's fork, checkout his branch with the fix, and build it with LLVM 3.9?

[2018-01-16 03:54] juliohm commented on #137
Building it, I will report the success or not of the attempt soon it is done. Thanks.

[2018-01-16 05:01] juliohm commented on #137
I can confirm that cloning that branch and building it with no changes to the `Make.inc` has worked well with the ccall we have been trying. How can I make sure it is linking to LLVM 3.9?

[2018-01-16 05:13] vchuravy commented on #137
Check your versioninfo().

On Tue, Jan 16, 2018, 00:01 Júlio Hoffimann <notifications@github.com>
wrote:

[2018-01-16 05:29] juliohm commented on #137
LLVM 3.9.1 confirmed:

Commit 912ea1ea8* (2018-01-16 02:14 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz
  WORD_SIZE: 64
  BLAS: libopenblas (USE64BITINT DYNAMIC_ARCH NO_AFFINITY Haswell)
  LAPACK: libopenblas64_
  LIBM: libopenlibm
  LLVM: libLLVM-3.9.1 (ORCJIT, skylake)
Environment:
  JULIA_NUM_THREADS = 2

[2018-01-28 17:49] ssfrr commented on #137
I hit this exact issue (arch linux /w beignet). So glad I found the info here! I'm not quite ready to jump to 0.7, so I recompiled beignet against llvm3.9:

1. clone beignet from https://github.com/intel/beignet
2. install the `llvm39` and `clang39` packages
3. do the cmake dance: `mkdir build; cd build; cmake ..`
4. `make`
5. If you want to be thorough, run the tests to make sure things worked ou

[2018-02-16 05:02] sambitdash commented on #133
I see segmentation fault as well:
[code]

[2018-02-16 05:03] sambitdash commented on #133
clinfo:
[code]

[2018-02-16 07:01] chriselrod commented on #133
Try building Julia from source with this in your `Make.user`:
[code]

I had a lot of different types of Mesa-related segfaults that were all solved by statically linking Julia and llvm.
For example, running `Pkg.test("OpenCL")` from Julia built normally (dynamically linked):
[code]
and when running it with a statically linked LLVM:
[code]

[2018-03-15 13:00] davidbp opened #150 "cl.call not found. Was the name of the function changed?"
Hello,
I was trying to execute the notebook `Fractals.ipynb` from your examples but I got the following error:

[code]

It seems `cl.call`  is not found.

[2018-03-19 14:12] stevengj opened #151 "use VersionParsing.jl to parse version numbers"
I notice that you have some try/catch machinations for parsing OpenCL version numbers. You might try vparse from https://github.com/stevengj/VersionParsing.jl instead:
[code]

[2018-04-02 17:46] philtomson commented on #137
@ssfrr How do you tell cmake to use clang-3.9? I'm finding that after running cmake as you suggest above that when I look in the CMakeCache.txt file that clang-3.6 is being used.

[2018-04-02 17:50] ssfrr commented on #137
I'm not sure, I don't think I needed to do anything magical. Maybe I didn't have any other versions of clang installed when I ran the install? I'm not familiar with the beignet build process other than what I listed above, but perhaps you can just manually edit the paths within the `ccmake` tool to point to the right versions?

[2018-04-02 18:16] philtomson commented on #137
Apparently you edit the build/CMakeCache.txt file and change all the '3.6' to '3.9' - I'm not entirely sure if that's the official cmake-way, but I think that worked. Not entirely sure how that CMakeCache.txt gets used by the generated Makefile but didn't dig very deep into that makefile. I'd guess the better  way to do this would be to add something on the cmake commandline, but I'm not sure what

[2018-04-12 21:28] davidbp opened #152 "OpenCL test error"
I have installed OpenCL.jl  but the tests are not passed...
Has anyone with an Apple computer succesfully used the package?

[code]

About the Julia version:
[code]

[2018-04-22 13:08] davidbp commented on #150
@SimonDanisch, @vchuravy  I have seen that

[code]
Could be simply written as

[code]

Do you want me to update the notebooks with the correct syntax and make a pull request?

The notebooks in the current OpenCL.jl version do not seem to work.

[2018-04-22 13:26] SimonDanisch commented on #150
That would be great :)

[2018-04-23 09:13] davidbp commented on #150
I have done a test here:

https://github.com/davidbp/learn_julia/blob/master/GPU_compute/OpenCL/julia_set_fractal.ipynb

Maybe you could try to execute it and see if you get "similar results". The results are quite different from the ones Simon showed at the juliacon.If I remember correctly the GPU implementation was even a bit slower than the CPU implementation and the reasoning was that it was j

[2018-04-23 13:46] SimonDanisch commented on #150
Without looking at the notebook (i'm on my phone), did you synchronize?

[2018-04-24 08:29] davidbp commented on #150
I measured execution time as in the original notebook. That is:

[code]

[code]

Since `m` contains the result of the array (the fractal) it seems a valid measurement.

[2018-04-24 14:16] SimonDanisch commented on #150
actually, this does look normal to me..  if i reported different measurements, its possibly because i was on linux with bad driver support for the hd4000!

[2018-05-01 11:38] davidbp commented on #150
I have tested and updated the notebooks

https://github.com/davidbp/learn_julia/blob/master/GPU_compute/OpenCL/julia_set_fractal.ipynb

https://github.com/davidbp/learn_julia/blob/master/GPU_compute/OpenCL/Mandelbrot_fractal.ipynb

If you want you can copy them

[2018-05-01 13:16] davidbp commented on #150
@SimonDanisch @vchuravy  what do you think?
Now the device used is more clear and the comparison between CPU and GPU is more informative of the speedup you might get.

[2018-05-06 18:53] vchuravy commented on #150
Great thank you

[2018-05-06 18:53] #150 closed

[2018-06-11 07:08] skleinbo opened #155 "cl.devices() segfaults under Windows"
This is on Windows10 1803 with Radeon Software 18.5.1 on an RX470

[code]

[2018-06-11 14:50] skleinbo commented on #155
The issue was unrelated to the AMD GPU. Silly me didn't realize that
`igdlh64.inf_amd64_250db833a1cd577e\igdrclneo64.dll` points to the intergrated GPU of the CPU.

Weirdly, I hadn't enabled the iGPU in the UEFI, but somehow it still got queried by OpenCL(?)

The solution was to enable it, and to install recent drivers from Intel.

[2018-06-11 14:50] #155 closed

[2018-06-26 06:02] skleinbo opened #158 "map_mem / unmap! fails sporadically: array not mapped to buffer"
This minimal example demonstrates the issue:

[code]

fails with e.g
[code]

The struct holds an array and a buffer. They are mapped onto each other repeatedly. The program fails reliably but randomly across different platforms and OSs (AMD GPU + Intel iGPU on Windows, NVIDIA on MacOS).

[2018-08-08 17:59] ranocha opened #161 "Allow tests on appveyor"
It might be useful to have tests on appveyor, similar to https://github.com/ranocha/CLBlast.jl/blob/master/appveyor.yml.

[2018-08-09 05:10] ranocha opened #163 "Problems with Travis"
In some recent PRs such as #159 and #160, Travis does not seem to respond. This is a bit strange, because everything works fine if I enable Travis on my fork. Does anybody have an idea?

[2018-08-10 13:45] #161 closed

[2018-10-12 22:16] juliohm opened #165 "Precompilation failing in Julia v1.0"
Any branch of the project is working in Julia v1.0?

[code]

[2018-10-13 16:59] maleadt opened #167 "Run femtocleaner"

[2018-10-13 16:59] maleadt commented on #167
As per https://github.com/JuliaComputing/FemtoCleaner.jl

[2018-10-13 17:11] #167 closed

[2018-10-14 17:35] sambitdash commented on #165
https://github.com/JuliaGPU/OpenCL.jl/pull/170 has many fixes but there are 5 cases where tests are failing identified as well. Moreover there is WIP activity in branch sd1.0 as well. Referenced here for review and reuse.

[2018-10-23 15:02] juliohm commented on #165
After the merge of #169 , we get compilation without warnings. However, the tests are failing. Could someone please help?

[code]

[2018-10-23 16:02] juliohm commented on #165
I remember the issue @vchuravy. I have a fresh installation of Julia (binary) and a fresh laptop with beignet installed. The same Antergos OS (Arch-based) as in the past. What can I do to debug this further and fix the issue?

[2018-10-23 16:57] vchuravy commented on #165
You will want to figure out why ldd prefers our LLVM over the system LLVM.
The first step is http://www.bnikolic.co.uk/blog/linux-ld-debug.html

On Tue, Oct 23, 2018, 12:10 Júlio Hoffimann <notifications@github.com>
wrote:

[2018-10-23 17:39] juliohm commented on #165
The output with `LD_DEBUG=libs` is as follows. System's LLVM is version 7.0.

[code]

[2018-10-23 17:49] vchuravy commented on #165
There is no call to `libcl.so` or `libOpenCL.so` in that log. Did you run the crashing script?

[2018-10-23 18:02] juliohm commented on #165
This is the full output of running the tests:

[code]

[2018-10-23 18:29] vchuravy commented on #165
This is concering:

[code]

LDD found the right `libLLVM` library but calls end up in the one open first by Julia.

Interesting would be `LD_DEBUG=symbols` or `LD_DEBUG=bindings`. But please post these as gist, because that will be a lot of output and try to understand the criticla portion first yourself.

[2018-10-23 19:47] juliohm commented on #165
I tried to understand the output, but without success. You can find the output with `LD_DEBUG=bindings` in the gist: https://gist.github.com/juliohm/078c6f8453842cc5a44f7789b1eb2fc6

[2018-10-23 21:40] vchuravy commented on #165
Can you post the output of running with `LD_DEBUG=bindings,symbols`?
Also `ldd /usr/lib/../lib/libclangSerialization.so.7` and `nm --with-symbol-versions -D /usr/lib/../lib/libclangSerialization.so.7`

From what I can see all parties have correct symbol versions, but when libclang resolves it symbol it does it against the global table without a version tag.

Looking at my system (also Archlinux)

[2018-10-23 21:48] vchuravy commented on #165
Even weirder...

libLLVM.so: `00000000010c48d0 W _ZN4llvm15SmallVectorImplINS_15BitstreamCursor5BlockEEaSEOS3_@@LLVM_7`, so ... libclangSerialization.so lost ther version when internalising the symbol.

[2018-10-24 14:01] juliohm commented on #165
Hi @vchuravy, thank you for your help.

The following gist contains the output of ldd and nm: https://gist.github.com/juliohm/bd6dbe7bd37ad637e0b94ebc4634dcdf

The output with `LD_DEBUG=bindings,symbols` is too large to post as a gist. The site crashes when I try to copy/paste. I am sharing a temporary file in my Google Drive: https://drive.google.com/file/d/1ch2EiCR2u93Po1kimhbW0jU4cmDw3wwT/view?

[2018-10-24 14:45] vchuravy commented on #165
And there is our answer:

[code]

The weak binding in `libclangSerialization.so` is missing its version info and so it is looking up the symbol in the wrong library

vs an earlier  resolution:

[code]

There is nothing that immediately comes to my mind to fix this, we probably need to patch clang's build-process.

[2018-10-24 14:50] juliohm commented on #165
Thank you @vchuravy. You mean we should open an issue on clang instead? Please let me know how I should proceed to get this moving.

[2018-10-26 15:57] juliohm commented on #165
@vchuravy I appreciate if you can open an issue on clang or somewhere else explaining the situation. I don't have enough background to explain things correctly or fix them myself.

I've finished porting my packages to Julia v1.0, but the GPU features are currently disabled.

[2018-10-30 17:19] rabarar opened #171 "updated notebook example for fractals, but the kernel doesn't produce correct results"
I've modified the Notebook to be compatible with Julia 1.0.1 but the results aren't compatible - I'm BRAND NEW to Julia - perhaps I'm missing something - Ive attached the modified notebook for reference.

[fract.ipynb.json.zip](https://github.com/JuliaGPU/OpenCL.jl/files/2530794/fract.ipynb.json.zip)

[2018-11-04 06:35] sambitdash opened #173 "Lack of @check on API usage can lead to unknown exceptions on OpenCL 1.1 versions like a Mesa driver."
https://github.com/JuliaGPU/OpenCL.jl/blob/3e6494e0238049e6e03863c766ec5f6dd45eb26e/src/kernel.jl#L412

Does not check for error code and leading to allocating on arbitrary size which can throw OutOfMemory exception.

This is possible with Mesa OpenCL 1.1 version drivers as the they do not have keyword `CL_KERNEL_ATTRIBUTES`.

This is fixed in #172

[2018-11-05 14:55] rabarar commented on #152
any comments on the failure of this test? Is this an OpenCL api issue?

[2018-11-05 15:39] vchuravy commented on #152
Most likely a problem with Apple's implementation... but it might be wortwhile investigating why one can't query `binaries` and if it is indeed a limitation on Apple selectivly disabling this test should be okay.

[2018-11-05 16:10] davidbp commented on #152
Since apple is deprecating OpenCL in mojave and it won't even be included in the next operating system, is there a way download software from intel/AMD so that we could future-proof this?
OSX seems to be pretty Unix like. Maybe it's feasible.

[2018-11-05 19:43] davidbp commented on #152
What about sharing a docker image with OpenCL ?

[2018-11-05 19:44] vchuravy commented on #152
I don't have access to a Mac so I can't really advise/provide solutions here.

[2018-11-05 19:51] davidbp commented on #152
I just updated OpenCL for julia 0.6 and `Pkg.test ` still fails some tests but the vector addition code form the main page works. ```Test Summary:                       | Pass  Fail  Total
OpenCL.Program                      |   63     3     66
  OpenCL.Program source constructor |    3            3
  OpenCL.Program info               |   24           24
  OpenCL.Program build              |   12

[2018-11-06 19:30] vchuravy commented on #152
Yes, these failing tests are not critical to everyday usage of OpenCL.jl

[2018-11-18 00:01] #173 closed

[2019-01-27 18:04] tkluck commented on #171
I ran into this just now as well. This is probably too late to be useful for you, but for others who find this issue: I solved it by replacing `Complex64` in the old code by `ComplexF32`. I haven't gone back far enough in Julia's history, but my guess is that `Complex64` used to be a `Complex{Float32}` (for 64 bits in total). With that change, I've been able to reproduce the Fractal example.

[2019-06-10 15:18] lwabeke opened #176 "create_some_context causes Segmentation fault from REPL"
Hi

When I call create_some_context from the REPL it causes a Segmentation fault which closes julia, however if I can from the bash command line call example code successfully (./run_examples.sh).

[code]

I traced (manually executed code lines) it and it atleast got to the line 140 from src/context.jl:
ctx_id = api.clCreateContext(

I suspect it has something to do with environmental variables/pa

[2019-06-26 13:00] jpsamaroo commented on #176
Can you post the stacktrace you get from the segfault, as well as the OpenCL driver you're using (I assume it's Apple's OpenCL implementation)? It could be something to do with GC running earlier in the REPL, which is uncovering a bug.

[2019-06-29 14:42] davidbp commented on #176
Here I can put what I get:

[code]

[2019-07-03 07:50] lwabeke commented on #176
Hi

I just did a `]update` and still getting the same

If I open Julia and call `]test OpenCL` I get essentially the same output as @davidbp , where some tests run through and others fail, but those failures don't cause the Julia process to just die.

Running create_some_context as first command after the using OpenCL in new Julia session causes the crash, see below:
[code]

Trying to get a stack

[2019-07-03 10:53] jpsamaroo commented on #176
Given that we don't get a pretty backtrace after the segfault, could you put the call to `cl.create_some_context` or `cl.create_compute_context` in Debugger.jl and see which line it crashes on? It should probably be a ccall, since it seems to be crashing in C. I suspect we're passing arguments incorrectly or some such thing.

[2019-07-06 11:02] kose-y commented on #176
I have the same issue on OSX with OpenCL.jl v0.8.0.

[code]

Here is the output from Debugger.jl beginning with line 140 of `src/context.jl` (I spammed "s" from there):

[code]

[2019-08-03 19:45] juliohm commented on #137
Closing the issue since the information here refers to Julia v0.6 and Julia v0.7 era.

The situation of OpenCL.jl in recent Julia versions is still problematic though.

[2019-08-03 19:45] #137 closed

[2020-01-02 20:06] #121 closed

[2020-01-17 20:00] herzfeldd opened #179 "munmap_chuck(): invalid pointer (seg fault) using POCL"
Running the example OpenCL script in README.md (sum of two vectors) results in a segmentation fault when using POCL. This is true in both the 0.8.0 release as well as the latest master. I have also verified this across multiple systems (Fedora 30/31). One one system, using an NVIDIA graphics card correctly runs the scripts, but switching the platform to POCL causes the segmentation fault.

I have

[2020-01-22 15:45] jpsamaroo commented on #179
Since this fails in `clBuildProgram`, and POCL appears to also use LLVM, I'm going to guess this is caused by POCL's LLVM accidentally calling symbols from Julia's LLVM. Generally a "solution" for this is to build Julia with `USE_LLVM_SHLIB=1` in `Make.user`.

[2020-01-22 17:53] herzfeldd commented on #179
I imagine that your hunch is correct. Both Julia and POCL are installed using the standard Fedora repos. The Julia executable uses `libLLVM-6.0.so` whereas POCL uses `libLLVM-9.so`.

Is there any recourse besides re-compiling julia (I would prefer to remain using the system repos rather than build either POCL or Julia from source)?

Since this seems to be a general Julia issue rather than and Open

[2020-01-22 17:53] #179 closed

[2020-02-27 07:13] DilumAluthge opened #181 "Tag a new release?"
There has not been a release since https://github.com/JuliaGPU/OpenCL.jl/pull/175 was merged.

It would be great to tag a bugfix release.

cc: @SimonDanisch @vchuravy @maleadt

[2020-02-27 07:14] DilumAluthge commented on #181
Since the last release was 0.8.0, and #175 was a bugfix PR, I've opened https://github.com/JuliaGPU/OpenCL.jl/pull/182 to set the version number to `Project.toml` to 0.8.1.

[2020-02-28 07:32] DilumAluthge commented on #181
https://github.com/JuliaGPU/OpenCL.jl/releases/tag/v0.8.1

[2020-02-28 07:32] #181 closed

[2020-03-04 18:48] herzfeldd opened #183 "Cannot create a buffer with a size than exceeds a UInt32"
I am unable to create a buffer with a size that exceeds the size of a `UInt32` due to an `InexactError` in `buffer.jl:126` (it currently casts the number of bytes of the buffer to a `cl_uint`). I should be able to allocate a buffer larger than this on my card as `device[:address_bits]` is 64.

I don't think there would be an issue changing this parameter to type `cl_ulong`, but I have not gone thr

[2020-03-04 21:18] SimonDanisch commented on #183
Your best chance to get this into OpenCL.jl would be to try out the change and make a PR ;)

[2020-03-26 14:07] bakerte opened #185 "Change for behavior in includes?"
I think something has changed in the OpenCL.jl package about how to link header files to GPU kernels.  It's either that or I'm missing something crucial about how julia looks for packages and header files and what needs to be included in the path.

I have some code that is about 1.5 years old (v0.6 or so) with the OpenCL.jl package.  It works great.  The generic format is that I have a kernel defi

[2020-05-25 12:27] alecokas opened #186 "Fails to precompile for Julia v1.4.1"
Hi, I'm unable to precompile OpenCL, and I suspect the issue comes down to the Julia version since it seems that there is already an open issue regarding Julia v1 support (#165).
[code]
After installing OpenCL, I try to precompile the package but I receive this error:
[code]

Is there any way for me to get around this problem? OpenCL is a dependency for another package I would like to use.

[2020-05-25 12:45] jpsamaroo commented on #186
Would be fixed by #177

[2020-05-25 13:11] alecokas commented on #186
Now successfully loads with the warning added by PR #177

[2020-05-25 13:11] #186 closed

[2020-06-16 07:00] shlomif opened #187 ""cl.create_compute_context()" fails with an error on Fedora 32 x86-64 on an Intel NUC"
I am getting `ERROR: LoadError: OpenCL Error: Unable to create any OpenCL.Context, no available devices` with the demo code:

[code]

hwinfo is:

[code]

KDE plasma5 desktop effects and extreme tux racer seem to work fine here.

[2020-06-17 20:09] vchuravy commented on #187
Does `clinfo` find opencl devices? Likely a configuration error on the system side.

[2020-06-18 09:17] shlomif commented on #187
@vchuravy : seems like it does not:

[code]

Now I am wondering how to fix it.

[2020-06-18 09:18] shlomif commented on #187
@vchuravy : and thanks for your help.

[2020-06-18 16:05] vchuravy commented on #187
So luckily this is not a bug in this package, but sadly I don't have any recommendations for how you can fix your setup.

[2020-06-18 16:05] #187 closed

[2020-06-23 06:37] shlomif commented on #187
I was able to get opencl working in `clinfo` and Julia and would like to document it. I was led to a search for ["intel-opencd-icd" equivalent for fedora](https://duckduckgo.com/?q=%22intel-opencl-icd%22+fedora&atb=v193-1&ia=web) which led me to [the 'intel-compute-runtime' repo](https://github.com/intel/compute-runtime) and [this page](https://github.com/intel/compute-runtime/blob/master/DISTRIBU

[2020-08-20 17:18] #165 closed

[2020-08-20 17:26] #124 closed

[2020-12-07 17:14] ToucheSir commented on #149
For anyone who runs into this issue like I did, `conda install ocl-icd-system` will expose the system ICD loader without having to manually symlink libraries and such.

[2020-12-12 02:21] miakramer opened #190 "Expose function interface for `cl.info`"
I've been playing around with this package, and I think the API might be improved by exposing certain info calls. Internally, many of them use a `Dict` from `Symbol` to `Function`: I'm just proposing exporting the functions in addition. So, you could either call `cl.info(device, :name)` or `cl.name(device)`. This increases the number exported functions by quite a bit, but IMO it's a more ergonomic

[2020-12-13 19:52] jpsamaroo commented on #190
That sounds fine to me!

[2021-12-15 11:26] ericproffitt opened #193 "nbytes is coerced to UInt32 in Buffer outer constructor"
Currently the `nbytes` argument of `api.clCreateBuffer` is converted to unsigned using `cl_uint`,

https://github.com/JuliaGPU/OpenCL.jl/blob/f5f609cc4e46a84b46e76a8f252d164b2a890b85/src/buffer.jl#L126

I'm pretty sure this should be changed to `unsigned(nbytes)`, otherwise it throws a truncation error when the buffer size is larger than `Int(typemax(UInt32))`.

[2021-12-15 11:30] #193 closed

[2021-12-15 11:30] ericproffitt commented on #193
just realized that this issue was already raised

[2022-10-01 21:46] juliohm commented on #111
We are trying to revive the OpenCL.jl package. This issue is too old to be addressed in recent Julia versions. Closing it.

[2022-10-01 21:46] #111 closed

[2022-10-01 21:46] juliohm commented on #163
Travis is no longer the CI method used by the community. Closing it.

[2022-10-01 21:46] #163 closed

[2022-10-01 21:51] juliohm commented on #28
This issue dates back to 2014 and it seems that the discussion got mixed between OpenCL and OpenGL efforts. I will close the issue as part of house cleaning and an attempt to maintain a lightweight OpenCL.jl package for a recent version of the language.

[2022-10-01 21:51] #28 closed

[2022-10-01 21:51] #27 closed

[2022-10-01 21:55] juliohm commented on #1
@jakebolewski any intention to work on this issue, does it still apply? It is from 2013 so I guess we could simply close it and focus on the ones that we can address in the near future? I am trying to revive the OpenCL.jl ecosystem. This includes cleaning the house before writing down a plan.

[2022-10-01 21:59] juliohm commented on #40
I don't know if it is relevant to the discussion that was started here, but I recently built the OpenCL_jll wrapper with BinaryBuilder.jl and am trying to refactor this package to use it instead. Would that be a good path forward?

[2022-10-01 22:00] juliohm commented on #176
I built OpenCL_jll with BinaryBuilder.jl and plan to refactor the package here to load it instead. This will install the binary dependencies for the end user in theory. I will close the issue as it is hard to reproduce in 2022.

[2022-10-01 22:00] #176 closed

[2022-10-01 22:01] #84 closed

[2022-10-01 22:01] juliohm commented on #143
Closing as we moved away from Travis these days...

[2022-10-01 22:01] #143 closed

[2022-10-01 22:04] juliohm opened #195 "Help refactoring package to use OpenCL_jll"
Dear OpenCL.jl maintainers (or ex-maintainers),

I am trying to revive the project as part of research, and would really appreciate some help regarding the migration to the new BinaryBuilder.jl OpenCL_jll binary. The plan is to remove the low-level machinery with Libdl here and simply add OpenCL_jll to the Project.toml. Can you please comment on this plan? Can you also provide some help regarding

[2022-10-05 22:39] #1 closed

[2022-10-05 22:40] #2 closed

[2022-10-05 22:40] #3 closed

[2022-10-05 22:56] #41 closed

[2022-10-05 22:56] #195 closed

[2022-10-05 22:58] #152 closed

[2022-10-05 22:59] juliohm commented on #120
We are now using OpenCL_jll to install the dependency on the platform.

[2022-10-05 22:59] #120 closed

[2022-10-05 23:01] #29 closed

[2022-10-05 23:02] #190 closed

[2022-10-05 23:03] #35 closed

[2022-10-05 23:04] #16 closed

[2022-10-05 23:10] #108 closed

[2022-10-05 23:10] #138 closed

[2022-10-05 23:11] #64 closed

[2022-10-05 23:18] #110 closed

[2022-10-05 23:19] #46 closed

[2022-10-05 23:19] #133 closed

[2022-10-05 23:20] #116 closed

[2022-10-06 22:44] #100 closed

[2022-10-06 22:44] #18 closed, assigned to nobody

[2022-10-06 22:44] #151 closed

[2022-10-06 22:45] #158 closed

[2022-10-06 22:45] #171 closed

[2022-10-06 22:45] #183 closed

[2022-10-06 22:46] #40 closed

[2022-10-06 22:46] #185 closed

[2022-10-08 10:22] JuliaTagBot opened #198 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2022-10-08 10:22] #198 closed

[2022-10-08 10:54] juliohm opened #199 "Support Windows"
The OpenCL_jll build is failing on Windows. One of the OpenCL maintainers successfully fixed the build by [disabling a feature](https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/186) that I think may be important for Windows users. He mentioned that an alternative solution would be to upgrate the version of mingw in BinaryBuilder.jl. More details [here](https://github.com/KhronosGroup/OpenCL-

[2022-10-08 10:55] juliohm opened #200 "PoCL as fallback driver"
We would like to automatically install drivers for end-users. As far as I understand, [PoCL](http://portablecl.org/) is a recent attempt to provide a portable driver that works with any device (NVIDA, AMD, Intel…). The plan is to create a PoCL_jll that gets installed as a fallback driver. That would save users from cryptic runtime error messages. Can anyone help here building the PoCL_jll?

[2022-10-08 10:55] juliohm opened #202 "Clang.jl bindings"
The OpenCL.jl repository currently lists different API files manually for the different OpenCL standards. I understand that nowadays a better approach is to simply use Clang.jl for automatic generation of Julia bindings. If you have experience here, we appreciate any help.

[2022-10-17 21:49] bhanukumar314 opened #205 "v0.9.0 broken on MacOS"
v0.9.0 seems to have broken the library's functionality on MacOS (at least on Monterey, where I tested it). The library fails to find the Apple OpenCL platform. The same behavior is seen both on the Apple Silicon build of Julia (tested on an M1 Pro 16 inch MacBook Pro) as well as on the Intel x86-64 build of Julia (tested on an i9 16 inch MacBook Pro).

On v0.9.0:
`julia> cl.platforms()
ERROR: CLE

[2022-10-17 21:55] juliohm commented on #205
@bhanukumar314 can you please try to install the underlying OpenCL_jll binary:

https://github.com/JuliaBinaryWrappers/OpenCL_jll.jl

You can `] add OpenCL_jll` and then load the package. The package should define a OpenCL_jll.libopencl variable pointing to the library installed.

[2022-10-17 22:09] bhanukumar314 commented on #205
No change even with OpenCL_jll loaded.

(@v1.8) pkg> status OpenCL
Status `~/.julia/environments/v1.8/Project.toml`
  [08131aa3] OpenCL v0.9.0

(@v1.8) pkg> status OpenCL_jll
Status `~/.julia/environments/v1.8/Project.toml`
  [6cb37087] OpenCL_jll v2022.9.23+1

julia> using OpenCL

julia> using OpenCL_jll

julia> cl.platforms()
ERROR: CLError(code=-1001, CL_PLATFORM_NOT_FOUND_KHR)
Stacktrace:
 [1]

[2022-10-17 22:13] juliohm commented on #205
That is not what I asked in the comment. Can you please try to access OpenCL_jll.libopencl?

[2022-10-17 23:27] bhanukumar314 commented on #205
I am able to access that variable, as well as the other related ones. It displays

julia> OpenCL_jll.libopencl
"/Users/bkumar/.julia/artifacts/11dff7de7b89f38e0ae228668f3e38a76ba86b97/lib/libOpenCL.1.2.dylib"
julia> OpenCL_jll.libopencl_handle
Ptr{Nothing} @0x00000002094d2160
julia> OpenCL_jll.libopencl_path
"/Users/bkumar/.julia/artifacts/11dff7de7b89f38e0ae228668f3e38a76ba86b97/lib/libOpenCL.1.2

[2022-10-17 23:42] juliohm commented on #205
Yes, so OpenCL.jl uses OpenCL_jll as the underlying complied C library. The good news is that it is properly installed. Now, can you please confirm that you have a OpenCL ICD loader installed in your machine? I know that MacOS is particularly problematic with OpenCL support.

Try to install the PoCL ICD loader (i.e. driver) for example, or a more specific one for your own hardware. On Ubuntu for e

[2022-10-17 23:42] juliohm commented on #205
Also, take a look at this post on Discourse: https://discourse.julialang.org/t/opencl-jl-v0-9/88437

[2022-10-17 23:57] bhanukumar314 commented on #205
PoCL installs successfully; also, I had installed clinfo from homebrew and it successfully recognizes the OpenCL platform on my machine. So it's a problem specifically with OpenCL.jl v0.9.0 not being able to recognize it. Here is the clinfo output from the M1 Pro machine.

bkumar ~ % clinfo
Number of platforms                               1
  Platform Name                                   Apple

[2022-10-18 00:01] juliohm commented on #205
The previous version had a path hard-coded in the case of MacOS as you can see here: https://github.com/JuliaGPU/OpenCL.jl/pull/196/files

The idea of using OpenCL_jll is that we install a local library as an artifact and load it instead. Maybe we need to do something else in MacOS to recognize the local library instead of the global one? Can you try to uninstall the global OpenCL or similar exper

[2022-10-18 01:09] bhanukumar314 commented on #205
Uninstalling the global OpenCL probably isn’t a good idea, since it’s a System library (which potentially other softwares depend on) and these are my main systems which I need to keep functional. There isn’t any straightforward way of uninstalling it anyways on MacOS. Any other ideas? As far as I can tell OpenCL.jl isn’t recognizing any library at all, neither local nor global.

[2022-10-18 04:41] juliohm commented on #205
You need to make sure that the local OpenCL library that is being installed
by OpenCl_jll can find the drivers installed on the system. Can you list
the drivers you have currently installed? I'm typing from my phone right
now...

Em seg., 17 de out. de 2022 22:09, Bhanu Kumar ***@***.***>
escreveu:

[2022-10-18 22:57] bhanukumar314 commented on #205
The OpenCL driver that Macs use is a custom Apple-developed driver compatible with up to OpenCL 1.2. It is a framework included by default on every Mac; I've copied and pasted below the info about it from the System Information application.

OpenCL:

  Version:	4.7
  Obtained from:	Unknown
  Last Modified:	8/24/22, 1:59 AM
  Get Info String:	4.7, Copyright 2008-2019 Apple Inc.
  Location:	/System/

[2022-10-18 23:32] juliohm commented on #205
Got it. I don't have a MacOS to debug it myself. Do you have suggestions on how to make the local ICD loader library recognize this global pre-installed driver? Maybe other people had similar issues on MacOS in the past?

We are trying to avoid hard-coded paths to pre-installed libraries, and I am assuming that there is a way to make this driver "more visible" to the local library that OpenCL_jll

[2022-10-19 00:17] bhanukumar314 commented on #205
So I'm not an OpenCL or Julia development expert myself, but searching around on the internet, my best guess is that this problem is related to the fact that OpenCL is a "library" on Linux and a "framework" on MacOS. OpenCL_jll is generated using BinaryBuilder.jl it seems? BinaryBuilder.jl has different product types for libraries vs frameworks; according to its documentation, frameworks have to b

[2022-10-19 00:22] bhanukumar314 commented on #205
Also, on MacOS, when compiling (for instance with clang), one does not refer to "libopencl", but just "OpenCL"; thus, for instance, one uses the option -framework OpenCL during compilation on MacOS instead of -lopencl during compilation. See for instance

https://stackoverflow.com/questions/49656832/what-is-the-lopencl-on-mac

I have zero experience with BinaryBuilder.jl, but perhaps this is enoug

[2022-10-19 00:46] juliohm commented on #205
@giordano can you give a hand here?

[2022-10-19 16:28] juliohm commented on #205
@bhanukumar314 I think one way forward is try to generate the PoCL_jll driver with BinaryBuilder.jl and add it here as a dependency so that the local OpenCL_jll installation can find a safe driver always independently of MaCOS, Windows, Linux etc.

[2022-10-19 20:43] juliohm commented on #205
If you can help with this framework detail @bhanukumar314 that would be super helpful. I am not a MacOS users myself and am quite busy with other activities currently to stop and try to fix the issue, unfortunately.